[2017-07-19 16:01] bdorney opened #3 "Move Analysis Tools from vfatqc-python-scripts to this repo"
Based on discussion we had in GEM Operations & Online SW Meeting on July 18th we decided to migrate all analysis based tools from vfatqc-python-scripts to this repo.

This impacts issues:
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/84
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/97
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/99

[2017-07-21 15:55] #3 closed

[2017-07-24 14:22] bdorney opened #6 "Bug Report: ana_scans.py"
http://cmsonline.cern.ch/cms-elog/999538

ana_scans.py has several bugs when being called:

`runCommand(cmd, log)` doesn't seems to generate the log file but doesn't call cmd given.  Changing to runCommand(cmd) calls the cmd.  Potential issue in "runCommand?"

Under anaType 'scurve' the cmd is improperly appended

When starting to build commands before the case structure in launchAnaArgs need to g

[2017-07-24 18:25] bdorney opened #8 "Feature Request: Summary Plot from anaUltraLatency.py"
Right now anaUltraLatency.py plots the data as 24 different plots instead of a single summary plot.

This makes it hard for the DOC or analyst to upload the data to the E-Log for an "at-a-glance" view.

Request this script makes a summary plot.

[2017-07-24 18:27] mexanick commented on #8
I have requested modification provided by Alice Magnani. I'll prepare a PR

[2017-07-25 07:01] bdorney opened #9 "Feature Request: ana_scans.py moves latency plots to $ELOG_PATH"
Right now ana_scans.py does not move plots produced by anaUltraLatency.py to the $ELOG_PATH after the analysis has finished.  Propose to add this functionality.

[2017-08-07 14:19] #9 closed

[2017-08-07 14:20] bdorney commented on #8
@mexanick PR #7 has been merged in, I think it would be best if I close this issue and we make a new issue/feature request to include the feedback/modification you mentioned from Alice.

Please advise.

[2017-08-07 14:21] #6 closed

[2017-08-10 11:40] bdorney opened #10 "Remove `cd` usage from paths.sh"
Following:

https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/109

For paths.sh here we should modify blocks at:

- [#L42](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/master/setup/paths.sh#L42)
- And everything below [#L55](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/master/setup/paths.sh#L55)

[2017-08-10 11:49] bdorney opened #11 "Add repo structure"
Following from cmsgemos and vfatqc-python-scripts:

https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/95

Add in contributing guidelines and templates (mostly copied from cmsgemos).

Suggest to copy the files from .github of vfatqc-python-scripts and place them here:

- `CONTRIBUTING.md`
- `ISSUE_TEMPLATE.md`
- `PULL_REQUEST_TEMPALTE.md`

And make the corresponding updates to `.git

[2017-08-10 11:51] bdorney opened #12 "Add xdaq Latency Scan python routine to repo"
The xdaq latency scan routine is currently sitting on the 904 NAS and is not tracked via subversion.

Suggest to incorporate the script into this repository.

Propose also to rename it following some sort of convention.  The analysis scripts that deal with the python tools all start with:

`anaUltra*`

Analysis scripts that deal with scans taken with xdaq might start with:

`anaXDAQ*`

[2017-08-10 16:13] bdorney commented on #12
We should also update the options menu of `anaXDAQLatency.py` to match with the conventions set in the rest of `cms-gem-daq-project`

For example:

[code]

Propose to change:
- `--amc` option to `-s`
- `--gtx` option to `-g`

This will match better with what users are familiar with from common options found in [standardopts.py](https://github.com/cms-gem-daq-project/cmsgemos/blob/generic-amc-relea

[2017-08-15 16:38] #10 closed

[2017-08-15 16:38] #11 closed

[2017-08-15 16:39] #12 closed

[2017-08-15 16:39] bdorney commented on #8
Closing issue as no longer appears relevant and functionality implemented in merged PR.

[2017-08-15 16:39] #8 closed

[2017-08-15 16:57] bdorney opened #15 "Feature Request: fitScanData.py Takes Number of Injections as Input"
## Brief summary of issue
Right now the form of the modified erf function that is used to fit s-curves has parameters that are hardcoded.  These parameters should be changed from `500` to `0.5 * nInjections`.  See [L#34](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/22cdd9bf15ebe3f8df652564d51cd943af8f79b6/fitting/fitScanData.py#L34) of fitScanData.py

However now the `--nevt` opt

[2017-08-16 12:40] bdorney opened #16 "Bug Report: Outdated VFAT DAC Values Applied At Configuration"
## Brief summary of issue
VFAT DAC values stored in `chamber_vfatDACSettings` are outdated and do not match what is stored in [L#21-26](https://github.com/cms-gem-daq-project/cmsgemos/blob/07d68dc291aac5f51f9e5d12fb9e3bd38c16cac7/gempython/tools/vfat_user_functions_uhal.py#L21) of `vfat_user_functions.py` of `cmsgemos`

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Fea

[2017-08-16 12:43] bdorney commented on #16
Suggested solution:

Change `chamber_vfatDACSettings` dictionary to have zero entries by default but list one commented example:

[code]

[2017-08-16 17:30] bdorney opened #18 "Feature Request: Change Default ztrim Value"
## Brief summary of issue

Default value of ztrim in this repository does not match default value in `vfatqc-python-scripts/qcoptions.py`.  Suggest to resolve this mismatch.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## Expected Behavior

In `vfatqc-python-scripts/qcoptions.py` at [L#13](https://github.

[2017-08-17 10:05] #16 closed

[2017-08-23 12:32] lmoureaux opened #20 "anaUltraScurve doesn't take the -o option into account"
`anaUltraScurve.py` has a `-o` option to specify the output filename, but will always use the default.

## Brief summary of issue

The `-o` option is defined in `anaoptions.py` and not used by anaUltraScurve. It can be useful e.g. when willing to compare S-curve analysis at different `z-score` or when debugging changes to `anaUltraScurve` itself.

### Types of issue

- [x] Bug report (report an is

[2017-08-23 13:17] #18 closed

[2017-08-23 13:42] bdorney commented on #20
Not sure I see how this is possible in `anaUltraScurve.py` given that `options.outfilename` is specifically used:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/a81799b1b77ff69bfd145498565c7958c2752be1/anaUltraScurve.py#L30

And then applied at:
https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/a81799b1b77ff69bfd145498565c7958c2752be1/anaUltraScurve.py#L41

When using

[2017-08-23 13:56] lmoureaux commented on #20
Good points. Closing.

Meant `z-score`. Again. Modified first post.

[2017-08-23 13:56] #20 closed

[2017-08-23 15:22] bdorney opened #22 "Feature Request: Link Functionality to mapping/chamberInfo.py"
## Brief summary of issue

We have two test stands and P5.  Right now `mapping/chamberInfo.py` has commented lines for the two test stands and uncommented lines for P5.  When using a different test stand the user has to change these lines to match.

Suggest instead to implement the same idea as the connections file that we have in `cmsgemos`, like:

[code]

### Types of issue

- [ ] Bug report (re

[2017-08-23 15:26] #15 closed

[2017-08-23 16:13] lmoureaux opened #24 "Fitting is broken"
Fitting was broken in commit bf5d7f2.

## Brief summary of issue

[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

No crash

## Current Behavior

Crashes

### Steps to Reproduce

1. Try to fit S-curves using `anaUltraScurve` or `trimChamber`

## Your Environment

* Version used: m

[2017-08-23 16:38] bdorney opened #26 "Feature Requests: Unit Tests"
## Brief summary of issue

In the past week we have let PR's be merged without either proper testing or proper oversight (myself included) as demonstrated by:

https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/16
https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/24

Which were either not properly tested originally, or not re-tested after committing on top of a request

[2017-08-24 09:17] lmoureaux commented on #26
I'm looking into setting up Travis CI for gem-plotting-tools. It does automatic testing and can block merging of failing branches.
Preliminary results can be found at https://travis-ci.org/lmoureaux/gem-plotting-tools/builds

[2017-08-24 09:22] bdorney commented on #26
Travis CI appears to be an available service that can be integrated into the github repo by an administrator.  Can you summarize what is necessary to set this up and what benefits it will give?  Also should this replace, or work in conjunction with, landscape?

[2017-08-24 09:29] lmoureaux commented on #26
Travis is free to use for open source projects. It is intended for continuous integration, i.e. it can build source code (not relevant here) and run unit tests. Setting it up can is done by adding a `.travis.yml` file to the repo to describe the required environment, and one or more testing scripts (usually in `.travis/`).
In order to use Travis CI, the organization should open an account (involve

[2017-08-24 13:58] #24 closed

[2017-08-25 12:53] lmoureaux opened #28 "ana_scans.py doesn't fail if one of the subcommand fails"
## Brief summary of issue

`ana_scans.py` invokes other commands such as `anaUltraScurve.py`. However, `ana_scans.py` doesn't notice when one of those commands fails, and will happily keep running. `ana_scans.py` will exit with status code zero even if somewhat went horribly wrong. It should instead follow the usual conventions and return a non-zero status code.

### Types of issue
- [ ] Bug repor

[2017-08-30 08:26] bdorney opened #30 "Bug Report: anaUltraLatency.py Does Not Use TDirectories Correctly"
## Brief summary of issue

Looking at the produced ROOT file `latencyAna.root` that `anaUltraLatency.py` produces the TObjects that are produced should be stored in TDirectories with names `VFATN` for N in [0,23].  But instead the TObjects are stored outside of the directories.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which add

[2017-08-30 09:50] jsturdy commented on #22
The stuck check has given me time, as I'm still pondering whether I like this solution to this "issue".
* I understand that the current hack being implemented in `cmsgemos` seems like a nice reason to implement the same hack here, however, the RPM build process of `cmsgemos` will create a machine/setup profile, making sure that the appropriate files are installed, so something similar could be env

[2017-08-30 13:28] bdorney commented on #22
I'm not really knowledgable about the RPM build process so I don't know if I could comment effectively on the strengths/weaknesses of the first two bullet points.

I think this would work for situations that are static, e.g. P5 and 904.  However during full production and QC of the detectors we will be cycling chambers on and off the cosmic stand routinely.  These will not use a position based nam

[2017-08-30 16:19] jsturdy commented on #22
For "static" (or mostly) setups, the short term solution can be adapted.
But your comment about the "constantly changed" is exactly the reason I don't want to go down this road.  For the QC8 setup, I don't want to get into the game of changing this file and pushing to github regularly, mostly because I want to move away from the setup dependent aspects of the package (and elsewhere as well).
* If

[2017-08-30 16:25] bdorney commented on #22
I'm not proposing to constantly push to github whenever the qc8 file changes; Think of this as a file that can be changed by the user of the stand on either the user account of daq machine or the expert's own area and then allow easy switching between other areas.

I agree that a longterm solution involving the DB is best.  However I think this solution in the short term meets the "quality of life

[2017-08-31 13:38] #28 closed

[2017-09-01 12:33] #30 closed

[2017-09-04 10:28] bdorney opened #33 "Feature Request: Function that plots an Arbitrary TBranch by scandate"
## Brief summary of issue

Right now `macros/plot_eff.py` will be given a `tab` deliminted file which looks like:

[code]

And it will analyze the `latTree` found in the `LatencyScanData.root` file from each of the listed `scandates` given.

To allow the DOC additional tools we should provide an additional macros like `plot_eff.py` which can plot an arbitrary observable stored in our output `TTree

[2017-09-05 15:30] bdorney commented on #33
After some discussion in addition to a 1D case `gemPlotter.py` there should also be a 2D case `gemPlotter2D.py` which allows you to plot:

[code]
In this case the `--strip` or the `--strip` plus `--channels` options must be supplied.

[2017-09-13 08:39] #33 closed

[2017-09-14 07:41] bdorney opened #36 "Feature Request: wrapper by scandate for TTree::Draw()"
## Brief summary of issue

Right now `gemPlotter.py` will let you plot an independent variable against a branch name for a list of scandates from our produced TTrees.

Would like to a script that does a similar function as `gemPlotter.py`, called `treeDrawWrapper.py` or similar, where it will make a plot using the `TTree::Draw()` method from command line for a list of scandates, from each scandate

[2017-09-14 08:15] bdorney opened #37 "Bug Report: anaUltraScurve.py still has event count hard coded in one spot"
## Brief summary of issue

In `anaUltraScurve.py` the value for `events/2` is still harded at line [151](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/164fcef4e5ddc1f930cf70a7d82f376bebff6390/anaUltraScurve.py#L151).  Here it is set as `500` but should be an input parameter from the input TTree.

This should be changed since if a user takes an scurve with non-default settings (nev

[2017-09-19 14:35] #36 closed

[2017-09-19 14:39] cbravo135 commented on #37
I do think this is the wrong way to interpret this bug. We should change the scurve object to be a TGraphAsymmErrors made by dividing 2 histograms so C-P confidence intervals are used. Then all fits will be done with an efficiency of 0 to 1 and have the proper error bars. This would also mean several scurves could be statistically summed together and the analysis would be robust. It would also all

[2017-09-19 18:00] bdorney commented on #37
I think this is a good suggestion, but I think this is enough of a change where it should be it's own separate issue.  For now the proposed solution will serve as a "short term" fix.

[2017-09-19 18:00] #37 closed

[2017-09-19 18:07] bdorney opened #41 "Feature Request: anaUltraScurve.py uses TGraphAsymmErrors::BayesDivide()"
## Brief summary of issue

Based on the suggestion of @cbravo135 in https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/37:

I think the best way to implement this would be to change `anaUltraScurve.py` to fit a distribution that is made with the `TGraphAsymmErrors::Divide()` method following the `BayesDivide()` approach described [here](https://root.cern.ch/doc/master/classTGraphAsym

[2017-09-25 15:01] bdorney opened #43 "Feature Request: Generic Plotter for TObjects Stored in TTree"
## Brief summary of issue

Provide a generic tool for plotting TObjects stored in TTree's similiarly to how `gemTreeDrawWrapper.py` works.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## Expected Behavior

Allow for automatic plotting of multiple scandates from command line for TObjects stored in TTrees.

[2017-10-03 06:22] bdorney opened #45 "Bug Report: ana_scans.py series mode crashes"
## Brief summary of issue

When trying to launch `ana_scans.py` with the option `--series` it crashes.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Should not crash and launch analysis one after another.

## Current Behavior

Crashes:

[code]

### Steps to Reproduce (for bugs)

1. Ca

[2017-10-03 14:31] bdorney commented on #43
Right now since there is only one `TTree` in our framework that has stored `TObjects` in it and that was taken care of in https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/44 I'm going to close this issue.

[2017-10-03 14:32] #43 closed

[2017-10-09 16:06] #45 closed

[2017-10-17 14:51] cbravo135 opened #49 "Generic plotting tool calibration"
Currently all of the plots generated by the generic plotting tool gives all results in DAC units.
We should give this tool access to calibration parameters so plots can be reported in physical
units, rather than digital units. These plots ultimately should be in physical units so it is easier
for the user to compare results from VFAT to VFAT.

### Types of issue

- [ ] Bug report (report an issue

[2017-10-17 15:05] bdorney commented on #49
Following this DB idea it may be a good idea to add a TBranch called `ChipID` which stores the hex chipID as an `int` to all our TTree's both at the "raw" and "ana" levels.  This would ensure we pair the right info to each VFAT.

[2017-10-17 15:09] cbravo135 commented on #49
Agreed.

[2017-10-17 15:17] bdorney opened #50 "Feature Request: Add a ChipID TBranch To All Produced TTrees"
## Brief summary of issue

Toward the eventual goal of DB interface all produced `TTree` objects should have a `ChipID` branch which stores the hex VFAT as a type `int` as this will be properly interpreted when casting back to `hex`.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## Expected Behavior

All `

[2017-10-17 15:22] bdorney commented on #49
To ensure github issue linking:
https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/50
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/138

[2017-10-30 17:28] #50 closed

[2017-11-15 16:28] bdorney opened #56 "Issue: plotTimeSeries.py is not described in README.md"
## Brief summary of issue

I didn't see any documentation on for [plotTimeSeries.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/macros/plotTimeSeries.py) in the `README.md` or on the DOC Twiki page.  Ideally this should go here in the README.md so we don't lose track of it.

### Types of issue

- [X] Bug report (report an issue with the code)
- [X] Feature request (requ

[2017-11-16 09:30] mexanick commented on #56
addressed in https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/57

Please approve the PR and close the issue

[2017-11-16 09:37] bdorney commented on #56
Documentation was present, I just missed it; however @mexanick added a link in the `README.md` TOC so it is more quick reference.  Closing issue.

[2017-11-16 09:37] #56 closed

[2017-12-07 09:34] bdorney commented on #49
Closing due to https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/54.  If additional TBranches are requested to be stored in DAC units please reopen this issue.

[2017-12-07 09:34] #49 closed

[2018-01-17 08:45] bdorney opened #61 ""Bug" Report: Error Bars on anaUltra*.py Scripts"
## Brief summary of issue

We've migrated all our DAQ (and I guess also DQM?) machines to cc7 which defaults to ROOT v6.X.  In this version of ROOT by default TH1::Sumw2() is automatically set, see the [TH1 Class Documentation](https://root.cern.ch/doc/master/classTH1.html#a8cd3b44217c8fec1d74046ed2ac153c2).  This causes error bars of some of our histograms to not be set correctly.

### Types of i

[2018-01-17 09:34] jsturdy commented on #61
Regarding proposal 1: Using `r.TH1.SetDefaultSumw2(False)` will work in `python`

[2018-01-17 17:55] bdorney opened #62 "Bug Report: ScanDataFitter Generates Null Pointer For Empty TH1 in ROOT v6.X"
## Brief summary of issue

Attempting to fit an scurve with 0 entries causes a null pointer `TFitResultPtr` object to be returned even when supplying the fit option `S`.

Previously it looks like in ROOT v5.34 a `TH1` object with 0 entries was being fit by a `TF1` object using the `TH1::Fit(...)` method it would return a non-null pointer to a `TFitResultPtr` object when the fit option `S`.  Howeve

[2018-01-18 11:35] bdorney opened #63 "Bug Report: gemSCurveAnaToolkit.py generates crash with ROOT v6.X or on cc7?"
## Brief summary of issue

`gemSCurveAnaToolkit.py` generates a crash when running on cc7 with ROOT v6.X.  Suspect it's a difference between ROOT 5.34 and 6.X, unclear why.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

## Current Behavior

### On `gem904daq03`
Works
[code]

ROOT is 5.

[2018-01-22 09:17] bdorney opened #64 "Feature Request: 3x8 Grid Plots Ordered by Physical VFAT Position"
## Brief summary of issue

Right now the 3x8 plots that all our plotting software makes orders the VFATs as (from left-to-right):

- Row 1: VFAT0 -> VFAT7
- Row 2: VFAT8 -> VFAT15
- Row 3: VFAT16 -> VFAT23

However if you physically look at the detector you would have to "invert" this plot to match the physical location of the VFATs when facing the readout PCB.  Suggest to change to:

- Row 1: VFA

[2018-01-29 16:21] jsturdy commented on #62
Looking at this in the `slc6` version at p5, we get warnings (while trimming) like:
[code]
so I suspect an inconsistent set of fitting options.
* Making this uniform everywhere, i.e., adding the `S` option to fits, and then checking that the `TFitResultPtr` is valid would eliminate crashes (something that is probably lost when writing `python` code is that one should *still* always be checking whe

[2018-02-06 16:18] bdorney opened #65 "Feature Request: anaUltraLatency.py Produces a Plot Summing Over All VFATs"
## Brief summary of issue

Right now `anaUltraLatency.py` produces a latency distribution for each VFAT.  In addition to this would like one plot/histogram that represents the sum of all VFATs.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## Expected Behavior

New histogram is created that is:

[code]

Th

[2018-03-10 18:28] jsturdy opened #68 "Structure of RPM package"
### Information
* The packages and modules will be packaged and end up in the system `PYTHONPATH`, e.g., (default `python` on `cc7):  `/usr/lib/python2.7/site-packages/`
  * I've been toying with adding a global namespace `gempython`, under which there would be the `gemplotting`, `vftaqc`, etc., modules, but this is still to be finalized into a proposal, and then discussed
  * This would necessari

[2018-03-12 09:30] bdorney commented on #68
Before we finalize the RPM for `cc7` I think it may be a useful idea to fix all ROOT 5.34 vs. 6.X.Y issues; I know benjamin was working on solving at least one.

The issues I'm referring too are:

https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/62
https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/63

[2018-03-12 13:42] jsturdy commented on #68
What is the usage of these:
[code]

By which I mean
* Are they scripts that must be in the `PATH`?
* Are they `import`ed in other tools?
* Are they a mishmash of these?

[2018-03-12 13:53] jsturdy commented on #62
Provide `wget`able test data for test scripts to run in `travis`/`gitlab-ci`

[2018-03-12 13:54] jsturdy commented on #63
Provide `wget`able test data for test scripts to run in `travis`/`gitlab-ci`

[2018-03-12 15:26] jsturdy commented on #68
Replying to @bdorney's comment, those bugs are not connected to this development.
Adding this step will allow for an `slc6`+`root-5.34` RPM to be built (which will be functional and is a good thing) as well as a currently broken `cc7`+default `root` RPM (which doesn't have to be installed anywhere)

[2018-03-13 09:27] bdorney commented on #62
You would like this uploaded to the repository under a `.travis` directory?  If so which branch should the PR be made to?  Maybe your private branch?

Right now `ScanDataFitter` is only being used by `trimChamber.py` of `vfatqc-python-scripts` and `anaUltraScurve.py`.  If you are asking for test data for all analysis tools in this repo than we should open a separate issue for tracking purposes.

[2018-03-13 09:29] bdorney commented on #63
You would like this uploaded to the repository under a .travis directory? If so which branch should the PR be made to? Maybe your private branch?

[2018-03-13 09:30] bdorney commented on #68
Same question here as in `vfatqc-python-scripts`:

In the RPM structure above how are you handling: `$GEM_PLOTTING_PROJECT/mapping/chamberInfo.py`?

Here `ana_scans.py` requires the dictionaries that are defined and filled in this file. Additionally, it is expected that the user is able to change the contents of those dictionaries. While this will most likely not occur often for P5 in the present

[2018-03-13 09:39] bdorney commented on #68
The following should be in the `$PATH`:

- `summary_plots.py`,
- `plot_vfat_summary.py`,
- `plot_vfat_and_channel_Scurve.py`,
- `plot_scurves_by_thresh.py` (might need to add executable permissions),
- `plot_noise_vs_trim.py`,
- `gemTreeDrawWrapper.py`,
- `gemPlotter.py`,
- `gemPlotterAllChannels.sh`,
- `gemSCurveAnaToolkit.py`, and
- `plot_eff.py`.

The following files have pieces that are import

[2018-03-13 16:17] jsturdy commented on #68
Let me clarify a bit:
* Which of these will a user call directly?
  * These are the ones that I would like to wind up in `/opt/cmsgemos/bin`
* Which of these are called indirectly, i.e., via another script?
  * These ones I would possibly prefer to end up in `/usr/lib/python<ver>/site-packages/gempython/<package>/{macros or bin}`, which could be appended (or prepended) to the `PATH`
  * Mostly, I

[2018-03-14 10:00] jsturdy commented on #63
No, I specifically don't want to put this test data in the repo, I just want a location that the CI can `wget` a file for testing from.
A possible alternative would be putting the test data in a dedicated docker container
The last ditch effort would be to put the data in the repo

[2018-03-14 10:21] mexanick commented on #63
Another option is to add test data as attached file to the git release. Just my 2cents

On Mar 14, 2018 11:01 AM, Jared Sturdy <notifications@github.com> wrote:

No, I specifically don't want to put this test data in the repo, I just want a location that the CI can wget a file for testing from.
A possible alternative would be putting the test data in a dedicated docker container
The last ditch eff

[2018-03-14 10:37] bdorney commented on #68
The following files:

- `summary_plots.py,
- `plot_vfat_summary.py`,
- `plot_vfat_and_channel_Scurve.py`,
- `plot_scurves_by_thresh.py` (need to add executable permissions, as a mistake it lacks them),
- `plot_noise_vs_trim.py`,
- `gemTreeDrawWrapper.py`,
- `gemPlotter.py`,
- `gemPlotterAllChannels.sh`,
- `gemSCurveAnaToolkit.py`, and
- `plot_eff.py`.

- `plotoptions.py`,
- `scurvePlottingUtitilit

[2018-03-14 10:38] bdorney commented on #68
Okay we'll move that discussion to that issue in `vfatqc-python-scripts`.

[2018-03-14 10:41] bdorney commented on #63
I don't understand then, I thought `wget` requires a url?  I could attach a test file to this issue page and then `wget` could use that?  Is this the request?

I don't know what a "docker container" is; is this something that is uploaded to travis?  Sorry it's my ignorance here.

I think Misha's suggestion as having the files uploaded to a release is a good one, this then gives the user a test sam

[2018-03-14 10:49] bdorney commented on #63
It might be worth pointing out that the `gemSCurveAnaToolkit.py` is also expecting the file format of which is identical to how `$DATA_PATH` is organized, as described in the documentation in the `README.md` [here](https://github.com/cms-gem-daq-project/gem-plotting-tools/#gemtreedrawwrapperpy-input-file).

So in the example that is shown in the link above `gemSCurveAnaToolkit.py` is expecting a f

[2018-03-14 10:58] bdorney commented on #62
Regarding the statements above:

The fit option already includes `S` by default as can be seen:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/13607095bcc0895f3a2e34c342644a10400d5fd9/fitting/fitScanData.py#L80

Will python be able to detector a null pointer here? Or because it's a wrapper of a ROOT object it won't be known whether or not it is null until it is accessed?  Specific

[2018-03-14 17:09] jsturdy commented on #68
As a bare minimum, no additional function definitions that are used elsewhere, as it complicates the package organization.
If there's this nested mishmash, and only tools in the same directory cross-pollinate, then having a scripts/macros directory for this type of tools makes sense.  It has to then be added to the `PATH` but can be figured out in the packaging step

[2018-03-14 18:43] jsturdy commented on #68
Hmm, I guess in this case the distinction I'm trying to raise is quite muddled...
How I initially imagined it, the "tools" themselves will go in `/opt/cmsgemos/bin` (here I view `ana<blah>.py` as the tools).
The `gemplotting` "scripts" (current random assortment of drawing/display scripts) will live in `/usr/lib/python<version>/site-packages/gempython/gemplotting/{macros or bin}` which would then

[2018-03-14 18:52] jsturdy commented on #63
Well, this doesn't fit in the "run standard tests model that is the point of this addition.
No reason they couldn't *also* be attached to a release, providing a set of test data for a given release, but that's not the use case I'm imagining for this.
Here we'd just have a script that runs some unit tests, it needs some data, this data can easily be provided by some URL (or set up inside the contai

[2018-03-15 08:28] bdorney commented on #22
Closing as stale.

[2018-03-15 08:28] #22 closed

[2018-03-15 10:21] bdorney commented on #62
Closing, resolved by #70

[2018-03-15 10:21] #62 closed

[2018-03-15 10:47] BenjaminRS opened #71 "anaUltraScurve RuntimeWarning in ROOT 6 (Python 2.7.5 & Numpy 1.14.0)"
## Brief summary of issue

When testing PR #70 the output of running the scurve analyser produced a couple warnings in ROOT 6 with Python 2.7.5 & Numpy 1.14.0  which were not present in ROOT 5 with Python 2.6.6 & Numpy 1.11.3:
[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

That

[2018-03-28 12:35] bdorney commented on #61
There should be one spot in `fitScanData.py` that should also have the error bars updated:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/75ca966d5226ced8874902923e269bd465fe28b2/fitting/fitScanData.py#L77

I would suggest fixing this by finding the `chargeBin` as was done in `anaUltraScurve.py`.  To do so you'll need to get the list of bin edges in terms of charge, e.g. replace `

[2018-03-29 16:20] bdorney opened #77 "Discussion: Charge in fC For HighNoise or HighEffPed?"
## Brief summary of issue

When analyzing s-curves the results will now be calculated in fC.  Before the `maskReason` for `HighNoise` and `HighEffPed` was determined in DAC units of `VCAL` or `CFG_CAL_DAC`.  This presents a problem as there is chip-to-chip variations.  Additionally there are differences between the `vfat3` and `vfat2` calibration modules so the step size of the DAC unit (in `mV`)

[2018-04-04 15:59] bdorney commented on #77
So based on results shown here https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/78 the effective pedestal cut of 50 is pretty high.

However this cut is an "event count" so it should scale with the number of events that were used to take the s-curve.  For example in the plots shown in https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/78 only 100 events were used to gener

[2018-04-11 08:53] bdorney opened #79 "Feature Request: ana_scans.py uses **kwargs"
## Brief summary of issue

The [ana_scans.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/ana_scans.py) tool has exceptionally bloated arguments and could benefit from use of **kwargs.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [X] Feature request (request for change which adds functionality)

## Expected Behavior

Enhanced readability could

[2018-04-11 14:37] jsturdy commented on #79
While I mostly agree with the underlying point, currently, *only* `anaType, cName, cType, scandate` are required in a specific order, all others may be specified by keyword.
This bloat precipitated from the way arguments are passed to the thread pool, so as long as behaviour there is not impacted, this could be a trivial change
(Similarly, but admittedly less clean, in cms-gem-daq-project/vfatqc-p

[2018-04-12 06:28] bdorney commented on #41
Closing as stale, use case unclear or uncertain.

[2018-04-12 06:28] #41 closed

[2018-04-16 17:03] bdorney opened #82 "Discussion: VFAT2 VCal to fC Appears Off"
## Brief summary of issue

Based on the results shown on [slide 22](https://indico.cern.ch/event/721622/contributions/2968019/attachments/1631961/2602748/BDorney_GEMDAQMtg_20180412_BurnedVFATInputs.pdf) the conversion of `VCal` to `fC` for `vfat2` appears to be off by 25 to 34%.  This is hardcoded in the function `parseCalFile(...)` of  `anautilities.py`:

https://github.com/cms-gem-daq-project/ge

[2018-04-16 17:14] bdorney opened #83 "Feature Request: Algorithmic Identification of Burned/Disconnected VFAT2 Inputs"
## Brief summary of issue

Based on [slide 22](https://indico.cern.ch/event/721622/contributions/2968019/attachments/1631961/2602748/BDorney_GEMDAQMtg_20180412_BurnedVFATInputs.pdf) `vfat2` channels that have been burned during operation have a characteristic s-curve width.  This s-curve width could be used to mark the channel as having a "burned input" and thus could be factored into our "% activ

[2018-04-20 14:09] bdorney commented on #77
# Charge Information

Based on the values quoted by Marcus on [slide 14](https://indico.cern.ch/event/712513/contributions/2958711/attachments/1628696/2597168/Hohlmann_CSC-GEM_DAQ_workshop_TAMU_Apr10_2018_v3.pdf)

We have the following table, all values in fC:

|Signal Charge/Strip | At G_Eff=8e3 | At G_Eff=1e4 |
| :------------------ | :-----------: | :-----------: |
| 96% have charge above | 2 |

[2018-04-20 14:15] bdorney commented on #83
Actually it seems that the `maskReason` of  `DeadChannel = 0x04` is never assigned.

We could start enforcing this reason for those channels that have burned inputs using the cut range described above, e.g.:

[code]

[2018-04-21 10:00] bdorney opened #85 "Feature Request: Add functionality for anaSBitThresh.py to ana_scans.py"
## Brief summary of issue

Now have v3 detectors in P5.  Should have v3 functionality for `ana_scans.py`.  Right now this is true for all but [anaSBitThresh.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/anaSBitThresh.py).

Steps outlined below.  Testing may show that additional modifications are needed but these should be the main ones.

### Types of issue

- [ ] Bug r

[2018-04-21 11:37] bdorney opened #86 "Bug Report: plotTimeSeries.py does not exit on KeyboardInterrupt"
## Brief summary of issue

Pressing `Ctrl+C` (e.g. `KeyboardInterrupt`) does not cause `plotTimeSeries.py` to terminate during execution.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Issuing a `KeyboardInterrupt` during execution of `plotTimeSeries.py` should cause the program to sto

[2018-04-22 12:04] jsturdy commented on #83
OK, in this case, I would not make a distinction in the algorithm then.
If someone wants a breakdown of "Dead from the beginning" vs "Died during operation due to some issue", then a different tool/set of categories can be created

[2018-04-22 12:09] bdorney commented on #83
Indeed, in the implementation here at https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/87 no distinction is made.

[2018-04-23 08:54] bdorney opened #88 "Feature Request: Identifying Original maskReason & Date Range of Burned Input"
## Brief summary of issue

We have 30720 channels in CMS presently.  And we need some automated way for tracking when changes occur.  Ideally this should be via the DB but this is not up and running (yet...).  But we have an automated procedure to make time series plots from the entire calibration dataset, see #87.

So my proposal is to use these time series plots to identify:

- The original `mas

[2018-04-23 08:54] bdorney commented on #88
I will assign this to one of the PFA team members this morning.

[2018-04-23 09:07] mexanick commented on #86
I support refactoring the code to remove subproces.call invocation

[2018-04-24 13:01] #83 closed

[2018-04-24 13:01] bdorney commented on #83
Addressed by #87

[2018-04-30 08:46] bdorney opened #90 "Feature Request: Update VFAT Channel to Strip Mapping for LS2 Detectors"
## Brief summary of issue

We require an update of the strip to vfat channel mapping for the LS2 detectors (and v3 electronics).

This would require updating:

- [channelMaps.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/mapping/channelMaps.py), and
- [buildMapFiles.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/mapping/buildMapFiles.py), an

[2018-05-15 09:12] jsturdy opened #94 "Docs migration"
## Brief summary of issue
Current README needs to be refactored into a proper `docs` style
README should have info about getting set up, links to contributing guidelines, links to full documentation

### Types of issue
- [x] Cleanup

## Possible Solution (for bugs)
* Create `docs` folder
* Migrate documentation portion of README into this, preferably using rst for compatibility with `sphinx`/`read

[2018-05-18 15:59] bdorney opened #95 "Update clusterAnaScurve.py for new computing environment."
## Brief summary of issue

Since `gem-plotting-tools` has been updated to be more of a package that is installed or downloaded as a standalone release the `clusterAnaScurve.py` tool no longer properly sets up the computing env on the worker node of lxplus.

Additionally CERN IT is moving lxplus away from using the scheduler `bsub` to moving `HTCondor`:

http://batchdocs.web.cern.ch/batchdocs/

Now

[2018-05-18 15:59] bdorney commented on #95
Partially related to:

https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/94

In that the documentation for using `clusterAnaScurve.py` may need to be updated.

[2018-05-18 18:15] mexanick commented on #94
Yes, let's use sphinx as a baseline. I'll look into sphinx setup for the reg_utils repo and will provide more detailed feedback and maybe a sort of template here as well. Basically, sphinx is using the ReStructured Text as doc format which is reasonably close to Markdown used in the existing readme, so it would not be a hard task to get the proper documentation with it. We will need a skeleton fir

[2018-05-22 13:00] QuantumKittydynamics opened #96 "Bug Report: Problems generating full list of scan dates for plotTimeSeries.py"
### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

When I type the following command:

python plotTimeSeries.py --listOfScanDatesOnly --startDate=2017.01.01

for each detector defined in chamber_config.values() the listOfScanDAtes.txt file should be found at $DATA_PATH/<ChamberName>/scurve/

[2018-05-22 13:03] mexanick commented on #96
@QuantumKittydynamics,
please report:
1. PC where you tried to run it
2. Account from which you've tried to run
3. How the package was installed (system-wide install of RPM or local github clone?)
4. Version of the package if installed as RPM or github branch/commit

[2018-05-22 13:05] bdorney commented on #96
Additionally please include the commands, from the very beginning, and their outputs.

[2018-05-22 13:06] bdorney commented on #96
Possibly related to:

https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/94
https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/95

[2018-05-22 13:12] QuantumKittydynamics commented on #96
1. My MacBook Pro
2. estarlin on LXPlus
3. Local github clone
4. commit dd3c00f47844ac620279ac57e6dd1339d188583b (I think)

[2018-05-22 13:47] mexanick commented on #96
If you connect to a certain PC over ssh in your macbook terminal and then run the code there - it is that PC of our interest. So as far as I can understand, a correct answer to the first question should be ''lxplus"
Now if you are using the local github clone of latest, please cross check the commit by running `git show`
Then if you have indicated the commit correctly, you must build a package and

[2018-05-22 14:08] bdorney commented on #96
Indeed I think this is why it's important to have the exact commands executed, and their output.  The info above does not show this.

Also I suspect the issue is stemming from the fact that after the rebase & merge of the packaging PR's the installation and setup statements of the `README.md` still reflect the pre-packaging PR instructions:

https://github.com/cms-gem-daq-project/gem-plotting-tool

[2018-05-22 14:39] QuantumKittydynamics commented on #96
I see, I didn't understand you wanted the commands from genesis.

Input:
ssh estarlin@lxplus.cern.ch

Output:
Warning: Permanently added the RSA host key for IP address '188.185.78.215' to the list of known hosts. Password:

Input:
hunter2 (No, not really)

Output:
Warning: No xauth data; using fake authentication data for X11 forwarding.
* *********************************************************

[2018-05-22 15:11] BenjaminRS commented on #96
ok I will leave it to @jsturdy to give the instructions as I will likely get it wrong. 2.5 weeks ago I had to install some updates with
``
cp ~sturdy/public/cmsgemos_gempython-0.3.1.tar.gz .
pip install --no-deps cmsgemos_gempython-0.3.1.tar.gz
``
But as I said, it is best to let Jared give the correct and up-to-date instructions,

From my area on lxplus I get the following:
``
$ python plotTimeSe

[2018-05-23 09:15] jsturdy commented on #96
I will try to update with a minimal get-it-working set of instructions for a user (@QuantumKittydynamics, your current use case is as a user, rather than developing a feature, correct?)

[2018-05-23 09:21] QuantumKittydynamics commented on #96
@jsturdy , yes, I'm not trying to develop anything right now, just a user. :) Thank you!

[2018-05-24 13:50] jsturdy commented on #96
Hi @QuantumKittydynamics, as a first go, can you try the [this](https://gist.github.com/jsturdy/a82a6b7b7d497ae8ef98ee736119c6b5)
Missing is the `cmsgemos` tarball, which you can currently find on the 904 DAQ PCs in the location specified by @BenjaminRS above.

I *think* this will be enough get you going, but I may have missed a step or two, in which case, report here the errors.

Once this docume

[2018-05-25 13:57] AndrewLevin opened #97 "missing shortChannelMap.txt error"
## Brief summary of issue
ana_scans.py script terminates normally but reports a python error.

### Types of issue
Bug report

## Expected Behavior
I have never successfully run the script before.

## Current Behavior
[code]

### Steps to Reproduce (for bugs)
1. ssh to gemuser@gem904qc8daq from lxplus
2. execute "ana_scans.py --scandate=current --ztrim=4 --anaType=scurve  2>&1 | tee -a ana_scurve_l

[2018-05-25 14:03] mexanick commented on #97
I see that the maps itself aren't included in the package distribution, but have to be built. @bdorney @jsturdy please either add map creation in the packaging routine or update the documentation reflecting the fact that user must create the maps before starting the analysis

[2018-05-25 14:04] bdorney commented on #97
[code]

Seems the issue is that the mapping files are never built.  The original assumption was that the old `setup/paths.sh` would call `buildMapFiles.py`.  The `rpm` installation procedure should do this or they should be included with the repo.

[2018-05-25 14:07] bdorney commented on #97
See updated comment above.

[2018-05-25 15:34] AndrewLevin opened #98 "vthr TTree Attribute error"
## Brief summary of issue
The ana_scans.py script terminates normally but reports a caught exception. The anaLog.log files shows that an AttributeError involving a TTree occurred.

### Types of issue
Bug report

## Expected Behavior
I have never successfully run the script before.

## Current Behavior
[code]

### Steps to Reproduce (for bugs)
1. ssh to gemuser@gem904qc8daq from lxplus
2. execute "

[2018-05-25 15:35] AndrewLevin commented on #97
The relevant files have mysteriously appeared now:

[gemuser@gem904qc8daq gemdaq]$ ll /usr/lib/python2.7/site-packages/gempython/gemplotting/mapping/  | grep ChannelMap.txt
lrwxrwxrwx. 1 root root   67 May 25 16:56 shortChannelMap.txt -> /home/gemuser/gemdaq/gem-plotting-tools/mapping/shortChannelMap.txt
lrwxrwxrwx. 1 root root   66 May 25 16:56 longChannelMap.txt -> /home/gemuser/gemdaq/gem-plott

[2018-05-25 15:47] bdorney commented on #98
This issue stems from an earlier change: https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/52

I think this showed back up in `anaUltraScurve.py` since in the v2b version of `ultraScurve.py` there is no `vthr` branch created however in v3 version of the script there is.  See for example:

https://github.com/cms-gem-daq-project/vfatqc-python-scripts/blob/develop/treeStructure.py

vs.

[2018-05-25 15:49] bdorney commented on #97
They were placed as a symlink by the system administer.  The root of the problem is understood as described by myself and @mexanick above: the mapping files were not built by `buildMapFiles.py` at the time the `rpm` was installed.

[2018-05-26 10:19] #98 closed

[2018-05-28 12:37] jsturdy commented on #97
Hotfix linked will generate the current long/short map files.  This should be revisited in the future as having "databases" of text files is not ideal long-term

[2018-05-28 14:28] AndrewLevin opened #101 "missing mapping.chamberInfo module"
## Brief summary of issue
The ana_scans.py script terminates normally but reports a caught exception. The anaLog.log file shows that an ImportError involving mapping.chamberInfo module occurred.

### Types of issue
Bug report

## Expected Behavior
I have never successfully run the script before.

## Current Behavior
[code]

### Steps to Reproduce (for bugs)
1. ssh to gemuser@gem904qc8daq from lxpl

[2018-05-28 14:57] jsturdy commented on #101
Latent broken `import`s from the packaging change
Local fix applied and deployed to the machine for testing

[2018-05-29 12:51] QuantumKittydynamics commented on #96
Hi @jsturdy , sorry for the late reply, I got held up by another task. So, I was able to successfully get all three tarballs, but I fail when trying to set up the virtual environment.

I checked my Python version using:

Input: python -V

Output: Python 2.7.11

So I inputted that into the instructions here: https://gist.github.com/jsturdy/a82a6b7b7d497ae8ef98ee736119c6b5

Input: [estarlin@lxplus02

[2018-05-29 13:08] lmoureaux commented on #96
Hi @QuantumKittydynamics,

`virtualenv` expects you to provide a callable `python` command. If you have Python 2.7 in your `PATH`, you can use: `virtualenv -p python ...` or `virtualenv -p python2.7 ...`

I on my side haven't been able to find the third tarball. Is it in a "public" location somewhere?

[2018-05-29 13:09] QuantumKittydynamics commented on #96
Benjamin posted the command for the third tarball, @lmoureaux : cp ~sturdy/public/cmsgemos_gempython-0.3.1.tar.gz .

[2018-05-29 13:21] QuantumKittydynamics commented on #96
Thanks, Louis, that seemed to work.

Input:

Output:

Installing setuptools, pip...done.

This makes my venv with folders: bin  include  lib  lib64  slc6

But the second line of the instructions doesn't make sense: /path/to/your/venv/bin/activate

I can't add it to the initial command, because I get the error "There must be only one argument: DEST_DIR"

And I can't do anything with it on its own.

[2018-05-29 13:56] lmoureaux commented on #96
Source it:
[code]

[2018-05-29 14:07] QuantumKittydynamics commented on #96
I can't source it...because it doesn't exist. Am I supposed to make it first?

Input:

Output:

[2018-05-29 14:19] lmoureaux commented on #96
The error message doesn't say "No such file or directory" but "Not a directory". It believes that you're trying to access a directory. That's because of the trailing slash after `activate`. Remove it and it should work.

[2018-05-29 14:30] QuantumKittydynamics commented on #96
Thank you so much for all the help, Louis. I am not super command line literate yet..

So the only one I can't successfully install now is the cmsgemos tarball. Using the option --nodeps gives "no such option: --nodeps". And not adding that option gives:

[2018-05-29 14:34] lmoureaux commented on #96
The correct option is `--no-deps`.

[2018-05-29 14:56] QuantumKittydynamics commented on #96
Great, that worked. I went through everything else, it all worked...and then finally back to the original problem...

Input:

Output:

[2018-05-29 15:05] QuantumKittydynamics commented on #96
I'm literally just trying to make the rest of the time series plot ROOT files for GEMINI 27, 28, and 30 for the sustained operations task "Re-Analysis of S-Curve Data for GEMINIm27, 28, 29, 30 between now and Installation in 2017". Your link you provided me some time ago in Mattermost is invalid, so I'm trying to follow the instructions in the /gem-plotting-tools readme, and it starts out with nee

[2018-05-29 15:07] QuantumKittydynamics commented on #96
Also, in trying to fix the above problem I posted, I'm pretty sure I borked everything up again.

Louis, would you perhaps have some time tomorrow to help me, so it'll go a bit faster than trying to go step-by-step here?

[2018-05-29 15:28] bdorney commented on #96
Double check the instructions.  The step which generates the scandate list should be done from the P5 machine as mentioned here:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/README.md#full-example-for-p5-s-curve-data

You'll need to perform the same steps to setup your computing area on your p5 area as you have done on lxplus.

After getting the data from the P5 machine

[2018-05-29 16:52] jsturdy commented on #96
Oops, missed some syntax there, as the activate script must be sourced
`gist` updated tldr:
`. /path/to/venv/bin/activate`

[2018-05-29 20:04] lmoureaux commented on #96
I'm trying to setup an environment in which I can run, as instructed in [the README](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/README.md#full-example-for-p5-s-curve-data):
[code]
But the only working environment I could find relies on an ugly hack. Please find below what I tried:

## Python 2.6

* I can setup the `virtualenv` without problem, but only at P5. On `lxplus

[2018-05-29 20:47] bdorney commented on #96
Hi @lmoureaux rather than re-invent the wheel could you try the official [instructions for setting up a user area](https://gist.github.com/jsturdy/a82a6b7b7d497ae8ef98ee736119c6b5
) provided by @jsturdy?  Note there is a different set of instructions for developers.

[2018-05-29 21:00] lmoureaux commented on #96
That's exactly what I've been trying to do

On the same page? Else can you please provide a link to it?

[2018-05-29 21:33] jsturdy commented on #96
@lmoureaux did this fail at the virtualenv creation? Or when updating `setuptools/pip/importlib`?

I just today was trying to work around the `slc6` `python2.6` issues installing the updates
I just tried on `lxplus` with the modifications I made to the `gist`, i.e., ` pip install -I importlib 'setuptools<39.2.0' 'pip<10.1.0'` and the virtualenv created fine (I didn't test beyond this)

Also, on `l

[2018-05-29 21:40] lmoureaux commented on #96
@jsturdy Thank you :+1:. I'll take a look tomorrow. I hadn't refreshed your `gist`...

[2018-05-30 11:21] lmoureaux commented on #96
## 2.6

To update `pip`, `importlib` and `setuptools` in my `venv` at P5, I downloaded the packages on lxplus:
[code]
I uploaded the tarballs using `scp`. When I try to install them at P5, it breaks my `pip`:
[code]

Note: The system `pip` is also broken:
[code]

## 2.7

[code]
I get the same results even after `pip install --user virtualenv`.

[2018-05-30 12:07] jsturdy commented on #96
OK, the system `pip` issue is not `pip` per se, just some bad permissions on a package I built and installed (I had fixed it on `gem-dqm01`, but forgot to fix it on `gem-daq01`, so that is now fixed)

OK, on the `LCG` package, this is because `virtualenv` must not be included in the set..., might be worth asking on the computing tools hypernews.
Actually, i just tried the following:
[code]

This w

[2018-05-30 12:41] bdorney commented on #96
For setting up a virtualenv on lxplus i think the example illustrated here:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/setup/createVirtualEnvPy27.sh

Could be adapted, note there is one for py26 as well.

Again I would suggest against trying to reinvent the wheel and try to adapt existing tools.

[2018-05-30 12:51] jsturdy commented on #96
That will only work *if* the `rh-python27` package is installed on the machine (I have no idea what the CERN policy is on that), the `LCG` views are a "standard" option available to any `lxplus` user

One can also get a `cc7` machine by using `lxplus7` and get `python2.7` as the default, which can also be more stable than relying on an `LCG` view, or a possibly installed extra.

In addition, it's

[2018-05-30 13:01] bdorney commented on #96
Indeed, but it seems lxplus nodes have `rh-python27` installed.  However the point is taken.  The script could be updated to use the `LCG` if that was desired.

Does the subversion of python2.7 matter much here?  I assume not, on cc7 the default is 2.7.5 whereas rh-python27 is 2.7.11 iirc.

I'll give it a try as well and report back.  I'm trying the developer instructions so @lmoureaux can continu

[2018-05-30 15:34] lmoureaux commented on #96
## Python 2.7

On my `lxplus` account:
[code]

However,
[code]
...and the rest of the instructions work fine, though:exclamation:the `gemplotting` macros are not executable.

We may want to use `$VIRTUAL_ENV` in the instructions.

What's a good Python 2.7 distribution available at P5?

[2018-05-30 15:41] bdorney commented on #96
What is the output of `echo $PATH`?

What do you mean?

[2018-05-30 16:09] lmoureaux commented on #96
## Python 2.6

Still on my `lxplus` account, using the default Python :

* `python -m pip` throws an exception, one has to use `pip`
* Else (on `lxplus`) everything is as for Python 2.7

[2018-05-30 16:20] lmoureaux commented on #96
The `PATH` is set correctly, but one has to `chmod +x` the macros. This is a problem in the package.

Instead of:
[code]
write:
[code]
which can be copy-pasted as-is, provided there's only one Python version installed in the `virtualenv`. It can be changed in two other locations.

I also think that the `..` part of the path should be replaced, as it has a meaning in this context.

[2018-05-30 16:24] bdorney commented on #96
I think @jsturdy was using it simply to imply additional sub folders exist, and includes a `**do not blindly copy this!**` warning.  However if instead of using `VIRTUAL_ENV` I would suggest to use instead `VENV_ROOT` following the same schema we have used in the past for our other repo's (e.g. shell variables defined `XHAL_ROOT` and `CTP7_ROOT`.

Additionally in:

[code]

The number of python ver

[2018-05-30 16:44] lmoureaux commented on #96
That's obviously the meaning of it, but I didn't understand it at first (there are two parts to replace). Just trying to avoid complaints about the instructions not working

My point is that `source foo/bar/bin/activate` already sets `VIRTUAL_ENV` to the correct value for `virtualenv` currently in use.

Even though I couldn't find one, maybe @jsturdy had a good reason not to use a wildcard here.

[2018-05-30 16:50] bdorney commented on #96
I see, I envisioned a different use case in which `$VENV_ROOT` is an argument provided by the user which is used in a script to create the `venv` in the correct location.

When using wildcards the following fails for me:
[code]

In general I would suggest `PATH` to not include wildcards.  You can do something like:

[code]

Some syntax updates may be required for setting the `VER_PY` variable but

[2018-05-30 17:11] lmoureaux commented on #96
How does it fail? I just checked and for me it finds the file (not sure about executing it).

Wildcards are expanded when the variable is set, and AFAIK not when looking it up. So my command above `$PATH` will only contain the wildcard when it didn't match anything, and even in that case it will be harmless. We can construct it from the Python version, although a cleaner (in the long term) option

[2018-05-30 20:27] bdorney opened #102 "Bug Report: macros lack executable permissions post release install"
## Brief summary of issue

Following instructions [developer](https://gist.github.com/jsturdy/4f9bccbdd18d953f73777e492a71fd24) or [user](https://gist.github.com/jsturdy/a82a6b7b7d497ae8ef98ee736119c6b5) instructions for setting up a scripts placed under:

[code]

Lack executable permissions.  Originally reported by @lmoureaux at [here](https://github.com/cms-gem-daq-project/gem-plotting-tools/iss

[2018-05-30 20:33] bdorney commented on #96
@jsturdy this probably also covers `devtoolset-6/7` I assume as well?

[2018-05-30 21:56] bdorney commented on #96
I cannot repeat @lmoureaux's success story:

$ pip install --user virtualenv
$ python -m virtualenv -p python /tmp/${USER}/lcgvenv --system-site-packages
Already using interpreter /cvmfs/sft.cern.ch/lcg/views/LCG_93/x86_64-slc6-gcc7-opt/bin/python
PYTHONHOME is set.  You *must* activate the virtualenv before using it
New python executable in /tmp/lmoureau/lcgvenv/bin/python
Installing setuptools,

[2018-05-30 22:17] lmoureaux commented on #96
The instructions now read:
[code]

[2018-05-31 01:08] #97 closed

[2018-05-31 12:22] jsturdy commented on #96
@lmoureaux under which conditions was `python -m pip` working and when did `pip` alone work?
I had modified the instructions (with a note that if `pip/virtualenv` themselves fail, to try with `python -m pip/virtualenv`, based on your reported semi-success)

[2018-05-31 12:28] jsturdy commented on #96
@bdorney

I definitely don't know what's being asked here... if a person is developing a feature that depends on some special version of some tool, I fully expect them to be able to set this up themselves (or follow a `README/CONTRIBUTING` that tells them what to do).  The current attempt at providing a set of instructions is specific to the `python` side of things, and makes no attempt at wider s

[2018-05-31 13:21] lmoureaux commented on #96
The ones documented [here](https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/96#issuecomment-393208232). It's maybe due to me having installed `virtualenv` locally.

[2018-05-31 15:01] lmoureaux opened #104 "packageFiles4Docker.py is missing from the package"
## Brief summary of issue

The package `gempython_gemplotting-1.0.0.tar.gz` doesn't contain `packageFiles4Docker.py`. This file is referenced in the README instructions to analyze P5 data.

### Types of issue

- [x] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

After installing the package and setting up `$PATH

[2018-06-01 12:20] bdorney opened #106 "Bug Report: parseCalFile() has issue with root_numpy...?"
## Brief summary of issue

Parsing of a calibration file causes an exception.  This was not an issue pre-packaging so I suspect perhaps there is still an issue with how `root_numpy` is installed on the machine.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Parsing a calibration file s

[2018-06-01 12:24] lmoureaux opened #107 "Bug Report: make rpm fails to build the package on lxplus"
## Brief summary of issue

Even though `lxplus` isn't a supported development environment, some of the tools cannot be run on the P5 machines (eg because they require cluster access). Developing and testing on different  machines would be painful.

`make rpm` crashes on `lxplus`.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which a

[2018-06-01 12:27] bdorney commented on #106
Trying the previous hack I had:

[code]

Now the calibration file is successfully parsed.

I think there is an issue with installation of the package.  Specifically on a `gem904` machine:

[code]

Does not ensure that `root_numpy` is properly present.

[2018-06-01 12:28] bdorney commented on #106
@jsturdy looks like another issue we need to follow-up on.  Removing the "bug" tag since it is not an issue with the software.

[2018-06-01 12:32] bdorney commented on #107
Before we accept this bug can you try on one of the 904 daq machines?  We updated most of them to cc7 so you may need to ask @jsturdy to place your account back on the machines.

[2018-06-01 14:57] #101 closed

[2018-06-03 21:20] jsturdy commented on #107
If you *must* try to develop on `lxplus`, your option at this time is to `pip install --user` the missing packages

[2018-06-04 11:18] lmoureaux commented on #107
Tried to `make rpm` in various environments, on branch `develop`:

| Environment | Python | Installed Packages | Result |
|:-----------------|:----:|:------------|:--------|
| Vanilla `lxplus` | 2.6 | `importlib 'setuptools<39.2.0' 'pip<10.1.0'` | :-1: ([log](https://github.com/cms-gem-daq-project/gem-plotting-tools/files/2067861/make_rpm_log_lxplus_setuptools.txt))¹ |
|   |  | `importlib 'setupto

[2018-06-04 11:18] #107 closed

[2018-06-04 12:38] jsturdy commented on #106
* Is it an issue with `4.7.3` of `root_numpy`?
* When installing `gemplotting` does the output print any information about checking for and installing `root_numpy`?

[2018-06-05 09:58] bdorney commented on #106
Making a new `venv`:

[code]

Then when installing `gemplotting` relevant output from `venvLog.log` is:

[code]

Which makes a check on `root-numpy`:

However issue persists:

[code]

I don't think the issue is with `4.7.3` of `root-numpy` but with how the package is being installed.  I am not sure it's effectively installed:

[code]

Then attempting to install `root-numpy` using the hack above wo

[2018-06-05 12:49] jsturdy commented on #106
What about
[code]
i.e., force reinstalling packages (though not sure about dependencies...)

[2018-06-05 12:54] jsturdy commented on #106
Also, you have a typo:
[code]
should be
[code]

[2018-06-05 15:44] bdorney commented on #106
Installing with:

[code]

Has seemed to resolve the issue with `rp.tree2array(...)` not being found.  However it also seems that the version of `root-numpy` that was installed on `gem904qc8daq` was installed against root `5.43.Y` while `ROOT 6.12/04` is installed on the machine:

[code]

Is this a potential issue with `setupMachine.sh` maybe not taking the correct package version of `root-numpy`?

[2018-06-05 18:51] jsturdy commented on #106
Not sure, but let's decouple these issues:
* It seems that the `pip install -I package` *didn't* reinstall dependencies, e.g., `root_numpy`
* System version of `root_numpy` needs to be tracked down, i.e., why is it asking for some `root5` bindings...

[2018-06-06 19:58] bdorney commented on #106
After you tried to build the `root_numpy` `rpm` by hand it seems like a version bound to `root5` is still being installed when setting up a `venv`.

I tried with a fresh `venv` and still obtained:

[code]

Below is the `venv` setup.

### `venv` setup

(py2.7) [dorney@gem904qc8daq]~/scratch0/CMS_GEM/CMS_GEM_DAQ% source setup_gemdaq.sh -c 0.3.1 -v 2.0.0 -V 3 -p $PWD/venv
Already using interpreter /u

[2018-06-08 13:03] bdorney commented on #106
Based on discussion in ops meeting I have tried:

[code]

So indeed the system version of `root-numpy` has no issue.  Trying on a dummy `venv`:

[code]

So it seems to work now.

Looks like my old `venv` somehow kept some knowledge of the old `root-numpy` version in which root 5 bindings were used.  Probably a carry over.

Closing this issue.

[2018-06-08 13:03] #106 closed

[2018-06-13 14:30] #96 closed

[2018-06-13 14:41] QuantumKittydynamics commented on #96
Fantastic, I will try everything when I get back home from my trip. Thank you so much to everyone.

[2018-06-19 12:53] bdorney commented on #88
Addressed by #112

[2018-06-19 12:53] #88 closed

[2018-06-21 13:14] bdorney commented on #26
Since `WIP` and `travis CI` are now implemented I am closing this issue.  It can be reopened if necessary.

[2018-06-21 13:14] #26 closed

[2018-06-21 13:39] bdorney opened #117 "Bug Report: project does not build after Sphinx Inclusion"
## Brief summary of issue

In commit 58e957b732116ab7078f8a913835fa9f7a13cee1 we added to the `Makefile`:

[code]

This causes the project to not build.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Project should build successfully.

## Current Behavior

[code]

### Steps to Reproduc

[2018-06-21 13:49] jsturdy commented on #117
did you do `git submodule update`?

[2018-06-21 14:56] bdorney commented on #117
Nope...and that solved the problem.

[2018-06-21 14:56] #117 closed

[2018-06-21 16:01] jsturdy commented on #117
FYI: from `git`version `2.13.1` (latest available on our `EPEL` repos is `2.12.X`...) there is the `--recurse-submodules` [option](https://www.mail-archive.com/git@vger.kernel.org/msg120829.html) which can also be set as a default [option](https://stackoverflow.com/a/44529991) (if desired)

I'll investigate a solution to get a later version on our DAQ machines

[2018-06-25 15:49] bdorney opened #120 "Feature Request: 2D Map of Detector Scurve Width"
## Brief summary of issue

To better correlate channel loss with physical location on the detector a new distribution is needed.  It should be a `TH2F` which has on the y-axis `ieta` and on the x-axis `strip`.  Here `strip` should go as 0 to 383.  The z-axis should be the scurve width.

However additional distributions may be of interest in the future so we should add a function to [anautilities.p

[2018-06-26 10:42] QuantumKittydynamics commented on #96
Following the new instructions in 29fb355 , I get the exact same initial error I reported in this bug report...

[2018-06-26 11:29] lmoureaux commented on #96
Did you start from a clean directory? I can't reproduce.

[2018-06-28 16:20] bdorney commented on #94
Was this resolved by #115 and #116?  Or is something more needed?

[2018-06-28 16:20] #77 closed

[2018-06-28 16:21] bdorney commented on #95
Support for the lxplus batch submission system was added by #105.  Given limited resources let's close this for now; it can be reopened later if `HTCondor` goes live.

[2018-06-28 16:21] #95 closed

[2018-06-28 16:23] bdorney commented on #82
Default scurve values have been updated to reflect the widest possible range:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/3f1d85dedc8963f72467b1d253112b3f8d57aa04/anaUltraScurve.py#L180-L185

Closing for now.

[2018-06-28 16:23] #82 closed

[2018-07-01 14:31] QuantumKittydynamics opened #124 "Feature Request: Cluster Submission with Altered Data Path Unclear"
When attempting to submit cluster jobs for the purpose of analyzing the full history of SCurve scans for a given detector, the process given here (https://github.com/cms-gem-daq-project/gem-plotting-tools#full-example-for-p5-s-curve-data) does not require a user specify a data path. Rather, it assumes the data path is /afs/cern.ch/.../CMS_GEM/Data/gemdata

### Types of issue

- [] Bug report (repo

[2018-07-02 08:23] bdorney commented on #124
To clarify the issue is that if the user sets `$DATA_PATH` to a directory in which the *immediate* sub-directories do not include the expected sub-structure, e.g.:

- `$DATA_PATH/GEMINImXLY/scurve`

the script, `clusterAnaScurve.py`, will run, launch zero jobs, and will not throw an exception or print an error message.  It looks like lines 129-132 should be reworked to include an error message.  R

[2018-07-03 09:13] bdorney commented on #120
Addressed by #122

[2018-07-03 09:13] #120 closed

[2018-07-05 14:38] AndrewLevin opened #126 "Bug report: plot_eff.py searches for branch "lat" which does not exist"
plot_eff.py crashes after attempting to find a branch that does not exist in its input file, which is the output of the latency scan script ultraLatency.py. So, there is an inconsistency between plot_eff.py and ultraLatency.py

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Current Behavior

[code]

## Po

[2018-07-06 08:46] #126 closed

[2018-07-09 14:32] lmoureaux commented on #94
A significant part of the README and many docstrings still have to be ported to `rst`

[2018-07-09 15:33] AndrewLevin opened #129 "Bug report: ImportError in get2DMapOfDetector"
I ran anaUltraScans.py using the ana_scans.py wrapper, and found the error message below in the anaLog.log file:
[code]

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

### Steps to Reproduce (for bugs)
1. [amlevin@lxplus039 ~]$ ssh gemuser@gem904qc8daq
2. [gemuser@gem904qc8daq gemdaq]$ ana_scans.py --scandat

[2018-07-09 15:54] bdorney commented on #94
Okay, thanks for update.  We keep this issue open for now.

[2018-07-09 22:09] ElizabethRoseStarling opened #130 "Documentation for time series plot creation is out-of-date"
Out of date documentation as seen here: https://github.com/cms-gem-daq-project/gem-plotting-tools#full-example-for-p5-s-curve-data

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Current Behavior

Documentation still references git-based commands, such as "vi $GEM_PLOTTING_PROJECT/mapping/chamberInfo.py",

[2018-07-15 13:38] #129 closed, assigned to nobody

[2018-07-16 14:18] lmoureaux commented on #130
Thank you for taking the time to write a bug report.

[2018-07-17 05:09] #130 closed, assigned to nobody

[2018-07-17 17:54] lmoureaux opened #137 "Public documentation: ReadTheDocs (or other) integration"
## Brief summary of issue

The documentation for the latest version should be built without human intervention.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

The public documentation is automatically rebuilt every time `develop` is updated or a new version is tagged.

## Current Behav

[2018-07-17 18:11] lmoureaux opened #138 "Include man pages in the package"
## Brief summary of issue

gem-plotting-tools has a nice collection of man pages that can be built using `make man`. However, they are not included in the `pip` package (didn't check the `rpm`). I propose to include them.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

* Man pages are i

[2018-07-17 21:52] jsturdy commented on #137
We will be using EOS served websites served with a CERN service account that is used for various GEM DAQ related tasks.
The easiest will probably be to do this via `gitlab-ci` as we'll have closer access to CERN resources there (this is also where the `yum` repository will be hosted)

The overall structure is not yet set up and is not quite finalized, but once it is, it will be integrated into the

[2018-07-17 21:56] jsturdy commented on #138
Agree 100%
If you can focus on setting up the `rpm` inclusion that would be great.
I don't think it makes sense to add them to a `pip` package as `man` pages are system installed, and this will be taken care of by the `rpm`
For `pip` packages, we'll rely on the rtd site

[2018-07-19 09:26] bdorney opened #140 "Bug Report: gemplotting rpm built with restriction on tabulate in python2.7"
## Brief summary of issue

The rpm of `gemplotting` seems to be restricting the tabulate requirement for python 2.7 which should not occur.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

When built with python 2.7.5 I would have expected the upper limit of `tabulate` in

https://github

[2018-07-19 09:32] bdorney commented on #140
@jsturdy correctly pointed out that it is this file that is referenced:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/7e938ab763bc4a4e38183a9cbf1e9e4a55ba3918/pkg/setup.cfg#L54-L62

What is the specific reason for the restriction on `tabulate` @lmoureaux

[2018-07-19 09:47] lmoureaux commented on #140
Support both Python 2.6 and 2.7 with the same `rpm` (see the restrictions in `requirements.txt`).

[2018-07-19 09:51] bdorney commented on #140
This is poor reasoning, as it specifically breaks the rpm installation on a machine that does not need this restriction.  Case and point, the working machine `gem904qc8daq`.

[2018-07-19 11:43] jsturdy commented on #140
Yes, the proper solution will be to figure out how to specify the correct requirement in the `bdist_rpm` section based on the `python` version, or somehow parse it from the requirements file.

When @lmoureaux initially added this dependency, I didn't quickly see any clean way to make it work so didn't bother with it, but just rebuilt RPMs for `cc7` machines based on the `tabulate` version I was ab

[2018-07-20 08:16] jsturdy opened #142 "Relicensing as MIT (was GPLv3)"
### Brief summary of issue
Unfortunately, not enough thought (on my part) was used initially in selecting a license for several packages and it has resulted in different licenses being selected for packages that have no real reason to be differently licensed.  In the case of this package, contradictory information was packaged, an issue which was raised by @lmoureaux in #139 (thanks!)

As such, I

[2018-07-20 08:37] bdorney commented on #142
Could we have a brief summary of what the change entails? E.g. what’s the difference?

[2018-07-20 09:54] jsturdy commented on #142
The links to the two licenses are provided in the second paragraph, from there one can read the full text, as well as the github page on choosing a license

[2018-07-20 13:05] lmoureaux commented on #142
Choice of license:

1. Why do you think the MIT is more appropriate than the GPL? How did you chose it over, say, LGPL or a BSD-style license?

Legal stuff (though IANAL):

2. Did you make sure that no GPL-licensed code taken from the Internet was included in the tree?
3. Did you check the list of contributors before tools were moved from `vfatqc-python-scripts` (e.g. PR #4)? It had no license at

[2018-07-27 09:35] ReyerBand opened #144 "Bug Report: plotTimeSeries.py --endDate Option Doesn't Work"
## Brief summary of issue

When calling plotTimeSeries.py with the --endDate option, the script still creates a list with scan dates up to the current time.
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Calling plotTimeSeries.py with --startDate=(time_1) and --endDate=(time_2) should g

[2018-08-06 10:26] brentstone opened #145 "Bug Report: calibrateThrDac.py fails when running without an optional argument"
The script macros/calibrateThrDac.py takes an optional argument '--listOfVFATs'. However, when the script is called without this argument, an error appears.
## Brief summary of issue

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior
The code should run normally and produce an output that l

[2018-08-10 10:45] bdorney commented on #144
Solved by #146

[2018-08-10 10:45] #144 closed, assigned to jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux

[2018-08-13 17:29] lmoureaux commented on #140
Just checked the `requires` syntax didn't allow complex dependencies before rpm 4.13 (have to support 4.8).

[2018-08-13 18:03] bdorney commented on #140
Alternatively dropping support for `python 2.6` would be equally advantageous; there is only one machine at CERN which is still `slc6` (native py2.6) and it is in 904, not running any test stands...

[2018-08-14 09:05] bdorney commented on #68
I think it's safe to close this issue.  Reopen if still relevant.

[2018-08-14 09:05] #68 closed

[2018-08-14 09:08] #94 closed

[2018-08-14 13:45] #145 closed, assigned to nobody

[2018-10-01 13:21] lmoureaux opened #154 "Feature request: Sensible default for --calFile (or make sure it's provided when --VFAT3 is used)"
## Brief summary of issue

When analyzing VFAT3 S-curves with `--isVFAT3`, the `--calFile` option is required. If it's not provided, the VFAT2 settings are used, which results in unusable output.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

`anaUltraScurve` checks its inputs for cons

[2018-10-01 14:10] bdorney commented on #154
As discussed on `Mattermost`, the intended use case with `vfat3` was that the `--calFile` would provide the exact calibration for each chip (or at least values that would approximate this).  Raw DAC units view is not supported.  If this is interested please see other plotting tools:

- [gemPlotter.py](https://github.com/cms-gem-daq-project/gem-plotting-tools#gemplotterpy), or
- [gemSCurveAnaToolki

[2018-10-01 15:24] lmoureaux commented on #154
Please take some time to read the issue before tagging it as invalid. I don't mention raw DAC units in my description.

[2018-10-01 15:44] bdorney commented on #154
To find this info you can execute:

[code]

[2018-10-08 15:54] bdorney opened #155 "Feature Request: DAC Scan Analysis Routine (Good for newcomer)"
## Brief summary of issue

We have a new DAC Scan routine for VFAT3 introduced in https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/203.

Now we need a tool to analyze it.

One critical thing to keep in mind is that `dacScanV3.py` can scan multiple optohybrids per call, so the output `TFile` may contain info for multiple detectors.

## Timescale
Would need this by Monday October 15

[2018-10-08 15:57] bdorney commented on #155
@AndrewLevin

[2018-10-08 16:02] bdorney commented on #155
Looking for a volunteer to tackle this by next Monday.

[2018-10-08 16:10] AndrewLevin commented on #155
@bdorney, I will do it.

[2018-10-08 16:23] bdorney commented on #155
also should probably use the `chamber_config` dict of [chamberInfo.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/mapping/chamberInfo.py) to place analysed results in a relevant location of `$DATA_PATH`, e.g.:

[code]

Where scandal should be the `scandate` of the input file, or some suitable different value if none is detected.

I expect dacScan results will be placed

[2018-10-08 16:24] bdorney commented on #155
I wish we had a DB... :(

[2018-10-08 16:56] bdorney opened #156 "Feature Request: Plotting Temperature Data (Good for newcomer)"
## Brief summary of issue

The [monitorTemperatures.py](https://github.com/cms-gem-daq-project/vfatqc-python-scripts/blob/rpc-playground/monitorTemperatures.py) routine can query one or more optohybrid's worth of links on an AMC and track temperature data as a function of time.

We need a tool which can make plots of this temperature.

### Types of issue

- [ ] Bug report (report an issue with the

[2018-10-10 12:52] bdorney commented on #155
@AndrewLevin for those monitor (dac) select values that correspond to bias currents (See VFAT3 manual, Table 25 GBL CFG CTR 4 : Monitoring settings) you'll need to convert the ADC readback voltage back to a current.  Henri from VFAT3 team writes:

This also gives some hints as what type of fit functions could be applicable.  Recall the goal is to generate an automated routine.  So "tweaking" each

[2018-10-11 13:32] AndrewLevin commented on #155
@bdorney, I have two questions

1) regarding `assign (dacValX, dacValY, dacValY_Err) to the tgraph for a given (vfat,oh) pair`, a TGraph can be filled with errors in both the x and y directions, and I see that both errors are stored in the DAC scan (pending the merge of https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/205)

2)  regarding `Note nameX is the register that was scanne

[2018-10-11 14:48] bdorney commented on #155
Regarding question 1, see discussion here:
- https://mattermost.web.cern.ch/cms-gem-daq/pl/f3z8osj5s3nc9ejpynub59pcfa
- https://mattermost.web.cern.ch/cms-gem-daq/pl/mh334uwr7b8hpqsdctnjrxz6nw

Regarding question 2

[code]

Yes `nameX` corresponds to `dacValX`, yes this is creating a `TGraphErrors` with only the x-direction having errors; the y-value represents the DAC.

e.g. what we want is that

[2018-10-12 13:38] AndrewLevin commented on #155
@bdorney, the script is written and working, except for these two parts:

[code]
[code]

Do you have either a calFile or further details about how to implement the calibration-related part?

Currently, I have a script that produces the 3 x 8 plots, but it is just based on the raw uncalibrated ADC and DAC values. Probably adding the calibration will not be difficult and the script should be ready a

[2018-10-14 06:49] bdorney commented on #154
After further thought on this matter, the `--calFile` argument should be viewed as an optional argument entirely.  And any script that requires calibration instead by default make a DB query to request `cal_m` and `cal_b` in question.  The DB query should be made from the `vfatID`s in the input file, which can be obtained via:

[code]

Then `array_vfatData['vfatID']` is what is the starting point

[2018-11-08 10:18] bdorney opened #164 "Bug Report: Missing Documentation for anaDACScans.py Crashes Build"
## Brief summary of issue

There seems to be a missing doctree when trying to build `gem-plotting-tools`.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

## Current Behavior

[code]

Seems like there is a mixup with the required doc tree:

[code]

This file does not exist, but...

[code

[2018-11-08 10:21] bdorney commented on #164
@AndrewLevin seems like when you where making:

https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/158

You did not try to rebuild the package after making the following commit:

https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/158/commits/d6123643ca71ebfe099c3922f5822f6bc5a40111

I am not sure if this is the exact one since many of the commits you made have non-descripti

[2018-11-08 12:02] AndrewLevin commented on #164
Sorry about this. Here is the bugfix: https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/165

[2018-11-08 13:09] fsimone91 opened #167 "Error in anaDACScan.py"
Error while using analysis code

### Types of issue

- [x] Bug report

## Expected Behavior

## Current Behavior

[code]
### Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Possible Solution (for bugs)

## Context (for feature requests)

## Your Environment

* Version used:
* Shell used:

[2018-11-08 13:19] bdorney commented on #167
@AndrewLevin I can see you did not correctly test this inside a `venv` before submitting this PR.  This would have failed immediately from inside a `venv` due to the line:

[code]

Should definitely be something like:

[code]

In the future when submitting PR's please test them thoroughly.  This includes:

1. Ensuring the package builds properly, and
2. Ensuring that after installing the package,

[2018-11-08 13:20] bdorney commented on #167
Other errors may exist...please resolve ASAP.

[2018-11-08 14:14] AndrewLevin commented on #167
Sorry about this. Here is the bugfix pull request: https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/168

[2018-11-08 14:50] #164 closed, assigned to AndrewLevin, lmoureaux

[2018-11-08 16:24] #167 closed, assigned to AndrewLevin

[2018-11-13 19:33] bdorney commented on #155
Closed by #158

[2018-11-13 19:33] #155 closed, assigned to AndrewLevin, bdorney

[2018-12-06 20:02] bdorney opened #171 "Bug Report: anaDACScans.py generates KeyError if --calFileList Not Provided"
## Brief summary of issue

When trying to analyze DAC scan data without providing the `--calFileList` argument a `KeyError` is thrown.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Should not throw a `KeyError`.

## Current Behavior

With calibration file located under:

[code]

Calli

[2018-12-10 15:16] #171 closed, assigned to AndrewLevin

[2019-01-14 16:10] bdorney opened #173 "Bug Report: anaDACScans.py generates KeyError if OH0 not in chamber_config"
## Brief summary of issue

`anaDACScans.py` throws a `KeyError` if `0` (OH0) is not in the list of keys for `chamber_config`.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

This should not throw.

I can imagine two cases:

1. data is taken and OH0 actually existed in the data but for s

[2019-01-14 16:13] bdorney commented on #173
A thorough check for additional key errors should be performed during testing, for example another `KeyError` will be created:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/390a76897576eb0eba97eb8286c644b418891025/anaDACScan.py#L173-L185

Which could be resolved with the same suggestion as shown above.

[2019-01-14 18:50] AndrewLevin commented on #173
Here is the pull request: https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/174

I did not try to use a calFile in `$DATA_PATH/unknown/` in the case that the OH number is not in the chamber config and the calFile is not passed, since that seemed a little dangerous, but please let me know if that is desired.

[2019-01-15 10:32] jsturdy commented on #173
* Is this only a problem if `OH0` is missing, i.e., missing `OH3` doesn't result in some similar fault in some cases?
  * What if there are no entries in the `chamber_config`? Do you put everything in `unknown`?
* Should one expect that `chamber_config` is updated?
* Can one simply check at the time of acquisition that all necessary information is present? Such info could be exported into a `pickl

[2019-01-15 12:08] bdorney commented on #173
It's specific to OH0 based on the default assignment of the link entry in the stored TTree at time of acquisition:

https://github.com/cms-gem-daq-project/vfatqc-python-scripts/blob/6c3a5eb03b7a54b9bb0b9d3ebec2e66ad1b5feb0/treeStructure.py#L7-L18

`gemDacCalTreeStructure` inherits from `gemGenericTree` and `link` defaults to having a value of 0.

The multi link CTP7 module will fill a DAC word for

[2019-02-05 14:19] bdorney commented on #90
I think this has been resolved by:

https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/176

[2019-02-05 14:19] #90 closed

[2019-02-05 14:47] bdorney opened #180 "Discussion: Expanding chamberInfo.py to multi-AMC's/crates (Short Term)"
## Brief summary of issue

### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)
- [x] Discussion

## Some Proposals

I need a short term hack to be able to handle multiple AMC's in the same crate, and possibly multiple crates by the same DAQ machine.  Right now the following dictionaries in [chamberInfo.py](https:/

[2019-02-05 15:08] jsturdy commented on #180
I guess I owe you 5CHF @bdorney
https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/89#issuecomment-384214775

[2019-02-14 17:21] mgruchala opened #181 "File path is not being found"
## Brief summary of issue

Whenever we try to run the command:
`plotSbitThreshComp.py --alphaLabels /home/gemuser/ThreshComp.txt` with the `ThreshComp.txt` of the following content:
[code]
or
[code]
we always get the output indicating that there is a problem with correct setting the path:
[code]
### Types of issue

- [ ] Bug report (report an issue with the code)

## Expected Behavior

## Current

[2019-02-14 18:24] mexanick commented on #181
the issue is in trailing whitespace at the last line of your input file. Closing as improper usage

[2019-02-14 18:24] #181 closed, assigned to nobody

[2019-02-15 09:16] mexanick opened #182 "yum info prints the total content of README"
## Brief summary of issue

Same issue as described here:
https://github.com/cms-gem-daq-project/vfatqc-python-scripts/issues/221
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

[2019-02-19 10:54] brentstone opened #183 "chamberInfo.py script currently on gem904daq01 machine"
## Brief summary of issue
I am providing here a ```diff``` of the chamberInfo.py script that we are using on the ```gem904daq01``` machine (for use of GE2/1 currently) and the version of this script in the ```gem-plotting-tools``` repo on GitHub. See the ```diff``` below:

[code]
### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which ad

[2019-02-19 11:18] bdorney commented on #183
The version in the central repo should *always* match the P5 system.

The version on a test stand is the responsible of the test stand admin.

This is why the `editConfig` alias is provided for you on the `gemuser` account of both `gem904qc8daq` and `gem904daq01`.  If the test stand configuration has changed then you need to use the `editConfig` alias to update the corresponding dictionaries.

Not

[2019-02-19 11:18] #183 closed, assigned to nobody

[2019-02-19 11:21] brentstone commented on #183
@bdorney, I was told by @mexanick to open an issue for this, so just letting @mexanick know that this has been closed by @bdorney

[2019-02-22 09:46] bdorney commented on #173
This will be resolved by:

- https://github.com/cms-gem-daq-project/ctp7_modules/pull/82/commits/5c7921c0b175a6a73260429120b59c3a62bbdc26
- https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/220/commits/df784a36b21a7200e945e24ff37d8dc0fe138888

When those PR's are merged this issue will be closed.

[2019-02-22 09:55] bdorney opened #184 "Update calibrateThrDac.py to use nonliner fit function"
## Brief summary of issue

Linear fit applied for calibration of `CFG_THR_ARM_DAC` should be dropped in favor of a nonlinear fit function.

The DAC itself is nonlinear at low DAC values and also at high DAC values.  High DAC values are not the concern, however if the fit curve doesn't accurately describe the data the trimming procedure will fail to align the channels.

See discussion on [slides 11

[2019-02-22 09:55] bdorney commented on #184
@AndrewLevin do you think you could tackle this by next Wednesday?

[2019-02-22 11:34] AndrewLevin commented on #184
Yes, I will do it by next Wednesday.

[2019-02-23 13:48] AndrewLevin commented on #184
Can you point me to some data to test the updated fitting function?

[2019-02-24 08:56] bdorney commented on #184
See:

https://github.com/cms-gem-daq-project/sw_utils/issues/18

[2019-02-24 09:59] bdorney commented on #184
Don’t overwrite the existing data if you can avoid it.

[2019-02-26 10:35] AndrewLevin commented on #184
With a fifth order polynomial I get

![canvscurvemeanvsthrdac_summary_quinticfittingfunction](https://user-images.githubusercontent.com/3329216/53406408-2c36cd00-39ba-11e9-832d-454b88bbf74a.png)

instead of

![canvscurvemeanvsthrdac_summary_linearfittingfunction](https://user-images.githubusercontent.com/3329216/53406618-9a7b8f80-39ba-11e9-82cd-b4d9a516d9c8.png)

Does it look good?

[2019-02-26 15:03] bdorney commented on #184
But how does it look at low values of ARM DAC? e.g. in range 20 to 80.  The high range is the less useful range and we wouldn't really operate there (cuts the signal).

Can you show a zoom in the requested region; also a data/fit would be interesting to see.

[2019-02-26 15:13] AndrewLevin commented on #184
In the data that you provided in https://github.com/cms-gem-daq-project/sw_utils/issues/18, there is basically no nonlinearity in the region 20 to 80. Here is the zoom of the data and a linear fit in that region:
![canvscurvemeanvsthrdac_summary](https://user-images.githubusercontent.com/3329216/53423269-58b20f80-39e1-11e9-8a72-8875f5601b92.png)

[2019-02-26 15:16] bdorney commented on #184
Why don't you try to investigate further with the other recent measurements.  See for example the cases returned by:

[code]

[2019-02-26 15:22] bdorney commented on #184
Also it would be good if the algorithm could try to identify when it should *stop* fitting; and use a *per* VFAT fit range rather than a common fit range applied to all hybrids on a link.

The algorithm should *stop* fitting when the ARM DAC setting puts the comparator such that it is sensitive to the pedestal (you can see this in the scurve mean vs. arm DAC when at low arm DAC in some of the abov

[2019-02-26 15:57] AndrewLevin commented on #184
There are 6 listOfScanDates files, two of them contain scandates that do not exist (`$DATA_PATH//GE11-X-S-CERN-0009/armDacCal/current/listOfScanDates_calibrateArmDac_GE11-X-S-CERN-0010.txt` and `$DATA_PATH//GE11-X-S-CERN-0010/armDacCal/current/listOfScanDates_calibrateArmDac_GE11-X-S-CERN-0009.txt`), one of them (`$DATA_PATH//GE11-X-L-CERN-0002/armDacCal/current/listOfScanDates_calibrateArmDac_GE1

[2019-02-26 16:31] bdorney commented on #184
Issue is that bit flips occur when the chipID is requested from the VFAT and then is beyond what an integer of type `long` can hold which is all the [array class](https://docs.python.org/2/library/array.html) can hold and so a hot fix was applied to change it to a float.  You'll have to force it during debugging sessions.  Hopefully the Reed-Muller encoded hybrids will make this point mute.

See t

[2019-02-27 08:53] AndrewLevin commented on #184
I just made a pull request to address this issue: https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/186

[2019-03-07 14:04] bdorney commented on #173
Issue is resolved.

[2019-03-07 14:04] #173 closed, assigned to AndrewLevin, jsturdy, bdorney, mexanick, lmoureaux

[2019-03-07 14:33] bdorney opened #187 "Change Default Mapping to be for V3 Electronics & Use DB Tools"
## Brief summary of issue

The channel to strip mapping is not presently correct for v3 electronics, and in many cases it's hard coded to v2b mapping.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

## Expected Behavior

The channel-to-strip mapping should stop defaulting to the v2b mapping but should be det

[2019-03-07 14:59] bdorney opened #188 "Change Analysis Tools to Query DB for Calibration Constants"
## Brief summary of issue

Superseding #154.

The following analysis scripts need calibration coefficients from the DB to analyze the data correctly:

- `anaUltraScurve.py`
- `anaDACScan.py`

The [getVFAT3CalInfo(...)](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/78c88741fbe292f37476c79ffad108a137c1aa27/utils/dbutils.py#L66-L80) function provides a way to query the DB to retrieve

[2019-03-07 14:59] bdorney commented on #154
Superseded by https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/188

[2019-03-07 14:59] #154 closed, assigned to AndrewLevin, jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux

[2019-03-11 08:36] bdorney commented on #140
Closing as irrelevant, with the move from `slc6` to `cc7` `python2.6` is no longer used.

[2019-03-11 08:36] #140 closed, assigned to jsturdy, bdorney, mexanick, lmoureaux

[2019-03-11 13:05] bdorney opened #190 "Change Dead Channel Cut Defaults to v3 Compatible Values"
## Brief summary of issue

Right now the default dead channel cuts, which identify a channel as dead, are for the VFAT2 ASIC.  We need to change these defaults to be for VFAT3 (case of no cooling circuit present), using medium VFAT3 gain and comparator in CFD mode (see [General Overview of VFAT3](https://github.com/cms-gem-daq-project/sw_utils/blob/develop/v3ElectronicsUserGuide.md#general-overvie

[2019-03-14 16:48] bdorney commented on #180
Resolved by #189

[2019-03-14 16:48] #180 closed, assigned to jsturdy, bdorney, mexanick

[2019-03-14 16:50] bdorney commented on #190
Closed by #192

[2019-03-14 16:50] #190 closed, assigned to nobody

[2019-04-02 10:31] bdorney opened #196 "Bug Report: plotSbitThreshComp.py uses out of date filepath & TObject names when loading input data"
## Brief summary of issue

The [plotSbitThreshComp.py](https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/macros/plotSbitThreshComp.py) tool is out of data and needs to be updated to use the correct filepath and `TObject` name within the output `TFile`.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds fun

[2019-04-04 12:14] ElizabethRoseStarling opened #197 "Bug report: anaDACScan.py overwrites .png output files"
## Brief summary of issue
When utilizing the anaDACScan.py script, the summary .png files which are outputted are all given the same name, so that after the script finishes running, there is only one image file saved instead of ~16.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Each .

[2019-04-04 14:21] bdorney commented on #197
@fsimone91 has volunteered to take on this bug.

[2019-04-05 09:19] bdorney commented on #197
Addressed by #198 thanks @fsimone91

[2019-04-05 09:19] #197 closed, assigned to nobody

[2019-04-19 11:20] #184 closed, assigned to AndrewLevin, jsturdy, bdorney, mexanick

[2019-05-20 08:17] bdorney opened #202 "Feature Request: Update ana_scans.py"
## Brief summary of issue

The `ana_scans.py` tool is extremely out of date.  It will need significant updating.  Many analysis routines have completely changed or need updates to how they are handled.  In some cases scan analysis tools are not even present in the tool.

Supercedes issues:
- https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/79
- https://github.com/cms-gem-daq-projec

[2019-05-20 08:18] bdorney commented on #79
superceded by #202

[2019-05-20 08:18] #79 closed

[2019-05-20 08:18] bdorney commented on #85
superceded by https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/202

[2019-05-20 08:18] #85 closed

[2019-05-21 16:57] bdorney opened #203 "Bug Report: Nominal DAC Values for DAC Scan Analysis Incorrect"
## Brief summary of issue

Turns out some of the nominal values reported here:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/1fdf018d8f965383a05955c93d9422f9beb383f9/utils/anaInfo.py#L17-L34

Does not match the values reported in Tables 12 & 13 of the [VFAT3 Manual V2.2](https://espace.cern.ch/cms-project-GEMElectronics/VFAT3/VFAT3%20User%20Manual%20v2.2.pdf).

### Specific Conce

[2019-05-21 17:25] bdorney commented on #203
I did a double check of the scaling factors, e.g.:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/1fdf018d8f965383a05955c93d9422f9beb383f9/utils/anaInfo.py#L36-L54

And they are all correct.

[2019-05-21 17:26] AndrewLevin commented on #203
The values that are there now are the "Nominal Current" in Table 9 and the "Nominal Voltage" in Table 10.

[2019-05-21 17:37] bdorney commented on #203
Looks like we'll have to ask the VFAT3 team what the difference is...

[2019-05-21 19:45] bdorney commented on #196
Closed by #205

[2019-05-21 19:45] #196 closed, assigned to nobody

[2019-05-22 10:00] AndrewLevin opened #208 "in calibrateThrDac.py, Gaussian fits can fail"
The Gaussian fit to the scurveMean distribution can fail, and there is currently no protection against this.

## Brief summary of issue
In calibrateThrDac.py, a Gaussian is fitted to the per-vfat scurveMean distribution in order to determine the mean of the scurveMean distribution and the width of the scurveMean distribution. The Gaussian fit can fail, and it fails visibly in at least the 7 cases

[2019-05-22 15:08] simonepv opened #209 "Wrong Path for trim compare in plotSCurveFitResults.py"
## Brief summary of issue
Wrong path searched when a specific scan date is required

### Types of issue
- [x ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior
```plotSCurveFitResults.py``` when called with the command ```plotSCurveFitResults.py --anaType=trimAna --drawLeg -i listOfScanDates_Scurve.txt --alphaLabel

[2019-05-23 15:45] bdorney commented on #208
In this particular case why is the fit range not modified? e.g. it seems to still be trying to include that part of the DAC.  Isn't the fit range automatically determined?  The polynomial seems a bit "bendy" as a result of trying to use this range.

Additionally what about the failures reported [here](https://indico.cern.ch/event/822091/contributions/3436929/attachments/1847158/3031036/fsimone_QC8

[2019-05-23 15:55] AndrewLevin commented on #208
My proposal is to remove the point, which is equivalent to modifying the fit range. The algorithm already does remove some bad points, but not points that are bad in this way.

This issue is not related to the failures reported in Federica's slides.

 I can create a separate issue for that, or should I consolidate both issues?

[2019-05-23 15:58] bdorney commented on #208
I'm not sure it is the same thing.  In your example above you have removed the point, but the fit is still allowed to be in that region (see above).  While I agree we should remove the point, in this case since the point is at the edge of the range we should also reduce the range.

Separate issue is a good idea.

[2019-05-23 16:18] AndrewLevin opened #210 "poor scurveMean vs thrDac fits reported by QC8 PFA analyzers"
Poorly fitted scurveMean vs thrDac data found by the QC8 team indicate further changes to the fit algorithm are necessary.

## Brief summary of issue
In slides 7 and 16 of https://indico.cern.ch/event/822091/contributions/3436929/attachments/1847158/3031036/fsimone_QC8PFA_20052019.pdf multiple examples can been seen where the fit is not properly modeling the non-linear behavior at low thrDac.

###

[2019-05-23 16:24] AndrewLevin commented on #208
Yes, the fit range could be automatically set to the minimum and the maximum unremoved points. That would not affect the fitted coefficients, but would affect the plots.

Here is the separate issue: https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/210

[2019-05-23 16:44] bdorney commented on #203
VFAT3 team reports that Tables 9 and 10 should be used for configuring and data taking.

Closing as "NotABugWontFix"

[2019-05-23 16:44] #203 closed, assigned to bdorney

[2019-05-23 17:11] bdorney commented on #208
Let's do that.

[2019-05-28 10:37] #208 closed, assigned to nobody

[2019-05-28 12:16] AndrewLevin commented on #210
One possible solution would be to only fit the region THR_DAC < 100, which would reduce the number of wiggles that the polynomial must model. From Marek's plots

https://mattermost.web.cern.ch/api/v4/files/izr38nebhbbbfpj7r86msaj8ao?download=1

it seems we are always trimming at THR_DAC < 60, so probably we do not need to fit the region THR_DAC > 100.

[2019-06-03 08:51] bdorney commented on #210
Did you get the data and try to apply this proposal to the plot above? Any updates?

[2019-06-05 15:33] bregnery opened #214 "Issues in Virtual Environment"
Getting pip to install the correct packages in the virtual environment results in conflicts.

### Types of issue
- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior
[code]
Then, the package is ready to use in the vitual environment

## Current Behavior
[code]

### Steps to Reproduce (for bugs)
Follow commands in

[2019-06-05 16:35] bdorney commented on #214
Instead of trying to install the requirements and then the package did you try to just install the package directly? e.g. just:

[code]

Here `pip` should look at the package, see what it requires, attempt to automatically install the requirements and then install the package.  There might be an issue in the `requirements` txt file but I expect installing the package itself would work.

[2019-06-05 17:38] bregnery commented on #214
I tried that and it failed. I don't have the error message. I could try again tomorrow with a new virtual environment and put the error message here.

[2019-06-05 18:06] jsturdy commented on #214
Sorry, two separate issues here:
* `pip install -U -r requirements-dev.txt` should be used in the developing environment (these packages are required for running the build process)
* `pip install -U -r requirements.txt` should be run in the testing environment

These two steps are what the `.ci/test_on_docker.sh` script is basically doing

These environments can be the same

The second issue is th

[2019-06-11 12:14] bdorney opened #216 "Feature Request: calibrateThrDac.py stops putting output in ELOG_PATH"
## Brief summary of issue

Since we now have an appropriate location under:

[code]

And a symlink to the calibration file is made so the trim routine can find the right file at runtime the output of `calibrateThrDac.py` should stop being placed under `$ELOG_PATH`.

Also change the name of the ARM DAC calibration file from: `calFile_CFG_THR_ARM_DAC_DetectorName.txt` to `calFile_thrArmDAC_DetectorN

[2019-06-18 07:56] bdorney opened #217 "Bug Report: Missing import in getSubArray()"
## Brief summary of issue

Missing import statement causes a `NameError` to be raised.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

No exception should be thrown

## Current Behavior

Stack trace is:

[code]

### Steps to Reproduce (for bugs)

1.  `testConnectivity.py -d 1 6 0x1`

##

[2019-06-18 08:54] bdorney opened #219 "Bug Report: Multiple Identical Entries in crateMap cause null pointers when making output TDirectories"
## Brief summary of issue

Multiple identical entries in `crateMap` causes a `ReferenceError` to be raised when making output `TDirectory`'s for a DAC scan that was only taken for one OH.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

`crateMap` should only have one entry if one OH is

[2019-06-18 09:17] bdorney commented on #217
Closes by #218

[2019-06-18 09:17] #217 closed, assigned to bdorney

[2019-06-18 15:08] lpetre-ulb commented on #219
I think there is a missing `remove` in : https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/a535580d4b83126624e925011502396df1281ac7/utils/anautilities.py#L57-L61 since `list_bNames` is defined as : https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/a535580d4b83126624e925011502396df1281ac7/utils/anautilities.py#L49 (notice the `vfatID` branch name).

I'm going to test the f

[2019-06-19 07:36] #219 closed, assigned to jsturdy, bdorney, mexanick, lmoureaux, lpetre-ulb

[2019-06-24 08:31] giovanni-mocellin opened #224 "Bug report: error while analysing sbitThreshold scan with anaSBitThresh.py"
## Brief summary of issue
Not able to analyse the sbitThreshold scan, because python script for the analysis gives an error.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

It should run normally and analyse the sbitThreshold scan

## Current Behavior

anaSBitThresh.py /data/bigdisk/GEM

[2019-06-24 08:40] bdorney commented on #224
Issue related to patch on the DAQ machine; patch has been reverted.  Closing as resolved.

[2019-06-24 08:40] #224 closed, assigned to nobody

[2019-06-24 15:30] bdorney commented on #188
Partially addressed by #225 for the case of scurves.

DAC analysis still outstanding.

[2019-06-25 14:28] sbutalla opened #226 "Feature Request: GE2/1 Compatibility for Plotting"
## Brief summary of issue

Currently, the `anaUltraScurve.py` and related scripts are compatible with GE1/1 only. The GE2/1 has only 12 VFATs per module, while the GE1/1 has 24, so half of the plots are not populated and can therefore be discarded when plotting the final result for GE2/1 data.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for

[2019-06-25 15:34] bdorney commented on #226
The plotting tools should *not* require *any* additional arguments to handle the different detector types. The better solution is to add additional metadata into the raw data files (defined in `vfatqc-python-scripts/utils/treeStructure.py`), e.g. `TBranches` called `gemType` and `detType` that contain string data that matches keys/values of the `gemVariants` dictionary.

Then at the start of each

[2019-06-25 16:08] bdorney commented on #226
Additionally many distributions are plotted as summaries that have x axis as VFAT number so this would need to be updated as well; containers sizes, etc...

[2019-06-27 12:23] bdorney opened #227 "[Feature Request/Maintenance]: Resolving Python2 vs. Python 3 incompatibilities"
## Brief summary of issue

Discussing differences between `python2` and `python3` in light of future upgrade to CERN CentOs 8 `cc8` where python is `python3` by default.

This list below of issues is not exhaustive and before work begins I would encourage other developers to comment about additional incompatibilities (including differences in libraries/dependent packages).

This might even warrant

[2019-06-27 12:28] bdorney opened #228 "[Maintenance/Refactoring] Unify String Formatting In All Files"
## Brief summary of issue

Spurred by discussion with @jsturdy we should unify string formatting to use `str.format` rather than `%` operator.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)
- [X] Maintanence

## Expected Behavior

All string formating and file I/O operations with formatted strings should def

[2019-06-27 13:03] lmoureaux commented on #227
Probably the easiest way to get started is to run [`2to3`](https://docs.python.org/2/library/2to3.html). It will update all `print` statements and many other things, see the docs for details.

[2019-06-27 13:08] bdorney commented on #227
What a great comment! Thanks for this link!

[2019-06-27 14:47] jsturdy commented on #228
This is `python2.6` compatibility oriented, which I don't feel like making an effort to support.
In `python2.7` the index is not required

In any event, the person implementing this should definitely read about how to control the formatting.

[2019-06-27 15:06] bdorney commented on #228
I'm not so sure we should abandon indexing blindly as a "this is py2.6" reason; there are certain instances in which the indexing is specifically needed to get the string sequence *correct*:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/135f4d8221333a0c886772414df50ceef2511893/utils/anautilities.py#L155-L157

(just the first example I found, here indexing is mandatory).

I would

[2019-06-27 15:55] jsturdy commented on #228
indeed, this was the point of my last comment.
a simple migration from the `"%s"%(blah)` to `"{}".format(blah)` doesn't care about indexing in `>python2.7`, but more complicated formatting *can* be done, which was not possible before

[2019-07-02 19:41] jsturdy opened #229 "[bug] Invalid DB query"
## Brief summary of issue
The current DB query selects **only** VFATs with `RUN_NUMBER` set to the maximum value in the table, rather than selecting from all VFATs, only the record with the highest `RUN_NUMBER`
This results in missing VFATs when running any scripts, sometimes working, but usually only by luck.

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavi

[2019-07-02 20:49] lpetre-ulb commented on #229
What about using an inner join in a single query ?

[code]

It is working with `pandas` inside the `python` interpreter.

[Works with the assumption that the pair `(vfat3_barcode, run_number)` is unique.]

[2019-07-02 21:19] lpetre-ulb commented on #227
As a follow-up I would like to ask what is envisioned for Python 2?

Indeed Python 2 is deprecated since a far too long time and CC7 already provides Python 3.4. Python 2 will not be supported at the end of the year and I think we will not use SLC6 anymore so I would be in favor not to support Python 2 once this issue is fixed. Moreover some functionalities are slightly different between Python 2

[2019-07-02 22:41] jsturdy commented on #227
As long as there are machines that will use `cc7` that we might conceivably target supporting, we will plan to ensure `python2.7` "compatibility".
Yes, `python2.7` will be "unsupported" starting next year, but it won't magically disappear overnight (and it will still be possible to install on `centos 8`.
There may also be some gotchas to look out for regarding interpreter name, but won't worry abo

[2019-07-02 22:51] jsturdy commented on #229
No preference, your solution seems a bit faster (0.02s vs 0.08s in `sql_developer` with a restriction to some 10 specific VFATs, and roughly equal times with no restriction), and is a bit cleaner

[2019-07-03 08:41] bdorney commented on #229
So using @lpetre-ulb's query (needed to add two spaces at end of lines) we have a really fast query with the full DB:

[code]

However it seems like only columns `vfat3_ser_num`, `vfat3_barcode` and `run_number` are returned for every row.  But this could be that the data was just *never* entered.

[code]

Gonna try the same with @jsturdy's query.

[2019-07-03 09:06] bdorney commented on #229
I had to adapt @jsturdy's example *slightly* but the gist is:

[code]

And this comes up with:

[code]

And looking at this dump it's the same as above.  The records 1973 - 1985 in this case are:

[code]

[2019-07-03 09:07] bdorney commented on #229
So these two methods are indeed similar.  But I agree that @lpetre-ulb's implementation is cleaner so I think I will prepare a PR with that.

[2019-07-03 16:53] bdorney commented on #229
Closed by #230

[2019-07-03 16:53] #229 closed, assigned to bdorney

[2019-07-04 16:25] bdorney commented on #202
Closed by #225

[2019-07-04 16:25] #202 closed, assigned to bdorney

[2019-07-09 22:51] lpetre-ulb opened #232 "[Feature request] Create a tool to produce RX GBT phase scan aggregation results"
## Brief summary of issue

Aggregating GBT RX phase scan results is useful to deduce good default values from a set of phase scan results. Default values then feed a LUT used for the "all good phases" case.

This issue proposes to add a such tool to the analysis tools.

### Types of issue

- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functio

[2019-07-10 04:07] bdorney commented on #232
Probably a separate tool is needed, e.g. `aggregatePhaseScanPlots.py` or something similar.  I was trying to think how it could be put in the current routine that `makePhaseScanPlots.py` is using but I think the use case is a bit different and it would not be very smooth if it was hacked together.

I think the best `makePhaseScanPlots.py` could do right now would be to make a final `TH2I/TH2F` obj

[2019-07-10 04:14] bdorney opened #233 "[Bug] Mismatch in Scurve Analysis Cuts Between ana_scans.py & anaUltraScurve.py"
## Brief summary of issue

Cut values for determining channel masks don't match between `ana_scans.py` and `anaUltraScurve.py`.  The ones in `ana_scans.py` should be used.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

The ones in `ana_scans.py` should be used.

## Current Behavior

Th

[2019-07-10 04:18] bdorney commented on #233
Closed by #234

[2019-07-10 04:18] #233 closed, assigned to bdorney

[2019-07-10 09:02] lpetre-ulb commented on #232
For the same reasons as you I also think a separate tool would be better. The sub-parser was an attempt in order avoid increasing the number of tools, but the two sub-commands would be completely separated (except for the input file list maybe).

[2019-07-10 09:17] bdorney commented on #232
Separate tool then; I think we are in agreement.

So now the question is usage; I guess you have all this phase scan data in your local DB (perhaps now in the GEM DB?)?

We have all our phase scan data in `$DATA_PATH/detectorName` although I regret not having a subfolder `$DATA_PATH/detectorName/gbtScans` (now might be a time to create one...).

So what would usage be?  Query from DB?  Provide an

[2019-07-10 09:41] AndrewLevin opened #235 "ARM DAC calibration should consider channel masks"
We would like the ARM DAC calibration to fit only good data.

## Brief summary of issue

Currently, the ARM DAC calibration script https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/macros/calibrateThrDac.py performs the ARM DAC calibration based on TGraphs loaded from the root file that is output from the scurve analysis. These TGraphs are filled with all 128 channels, not con

[2019-07-10 09:48] bdorney commented on #216
Addressed by #225

[2019-07-10 09:48] #216 closed, assigned to nobody

[2019-07-10 10:21] AndrewLevin commented on #235
Actually, given that we are storing the masks in the scurveFitTree, I think we can just re-use them rather than re-calculating them.

[2019-07-10 10:31] AndrewLevin commented on #235
Also, I noticed that the upper limit of the pedestal in the fit is set to nevents

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/fitting/fitScanData.py#L305

which I believe is not even correct unitwise. It should be `self.calDAC2Q_m[vfat]*(256)+self.calDAC2Q_b[vfat]`, right?

[2019-07-10 11:48] bdorney commented on #235
You could try it and see how it affects the fitting routine.

[2019-07-10 13:00] lpetre-ulb commented on #232
Indeed we store the phase scan data in our local DB so that we can download all of them in a single ZIP file. I think these data will never be stored in the GEM DB. Do you have a strong reason to want that? Requiring for new fields is not especially easy and I'm not convinced there is any advantage in storing data in the GEM DB.

If I'm not mistaken the phase scan data are stored in `$DATA_PATH/de

[2019-07-10 13:37] AndrewLevin opened #236 "NameError in calibrateThrDac.py"
`NameError` is thrown when I run `calibrateThrDac.py`

## Brief summary of issue
The variable `filePath` in this line

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/macros/calibrateThrDac.py#L134

is not defined. I am not sure what this is supposed to do or whether it is needed.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (re

[2019-07-10 14:04] bdorney commented on #236
good catch; change `filePath` to `outputDir`.

[2019-07-10 14:07] bdorney commented on #235
also `ana_scans.py`; basically this parent parser:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/d0b368a84b33d6e586ea410ad5415326d1f9c99d/ana_scans.py#L825-L832

Should be in `utils/anaoptions.py` and `import`ed by the three scripts and supplied as a parent parser (see implementation in `ana_scans.py`).

[2019-07-10 14:10] #236 closed, assigned to nobody

[2019-07-10 14:19] AndrewLevin commented on #235
so do you agree with https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/235#issuecomment-510004094? if so, it should be imported into just two scripts (`ana_scans.py` and `anaUltraScurve.py`; it is not needed in `calibrateThrDac.py`)

[2019-07-10 15:13] bdorney commented on #235
This decreases your flexibility; you have the analyzed TTree and so could change the analysis cuts at the time `calibrateThrDac.py` is called; otherwise the only way to change this is to re-run the analysis with `anaUltraScurve.py` and that may *not* be what's wanted (e.g. you'd have to re-analyze N scurve files to just say change the pedestal by 1%; this is much longer than just looping over the

[2019-07-10 15:59] bdorney commented on #232
No I don't.

That's correct.

Good point; I guess I was only thinking about the one link case which is not the right approach.

I was musing about possible DB records but I think you cleared that up above.

Your proposal here sounds the best; I would vote for an algorithm that differentiates in an transparent manner to the user and no additional command line arguments/options are needed to make it

[2019-07-11 17:36] AndrewLevin commented on #235
(Returning back to the issue as requested by @bdorney)

In order to apply the quality cut on the pedestal, we need to know both the effective pedestal and the total number of events taken. Currently, we only store the effective pedestal in the scurveFitTree. @bdorney has suggested, and I agree, that we should redefine the effective pedestal to be relative to the total number of events taken. Any o

[2019-07-11 17:39] AndrewLevin commented on #235
Regarding the comment about the namespace

https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/239#pullrequestreview-260841141

do you have an example?

[2019-07-11 17:41] AndrewLevin commented on #235
Regarding this comment

https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/239#pullrequestreview-260843255

this is in the issue actually:

"we first redesign the loading of data in the ARM DAC calibration script such that it is based on the TTree, rather than the TGraphs"

[2019-07-11 18:10] bdorney commented on #235
some comments in the code to assist the reader would seem appropriate then.

[2019-07-11 18:13] bdorney commented on #235
Calling ArgumentParser.parse_args() returns a namespace object; an example prototype would be [namespace.py](https://github.com/cms-gem-daq-project/vfatqc-python-scripts/blob/rpc-playground/utils/namespace.py) and usage is shown in `confAllChambers.py`

[2019-07-12 08:40] AndrewLevin commented on #235
Below I show the residuals (defined as fitted scurve_mean minus scurve_mean) for GE11-X-S-CERN-0010 ARM DAC calibration data for the head of develop and for the proposed solution of this issue. The proposed solution decreases the width of the residual distribution slightly.

HEAD of develop

![residuals_head](https://user-images.githubusercontent.com/3329216/61114632-09044a00-a491-11e9-9cef-c14b2a

[2019-07-12 15:50] dteague commented on #226
# Plan for changes
## Overview
This change is to follow the basic outline given by Brian.

First, a new metadata to the files called ```gemType``` and ```detType``` that contain the basic info to be propagated into the plotting software. A helper function (put in ```anautilities.py```) can be called to set these variables at the beginning of every file. To keep this change as non-destructive as po

[2019-07-12 16:11] bdorney commented on #226
These are dictionaries; so why aren't we just adding additional outer keys, e.g.

[code]

e.g. `chamber_vfatPos2iEta["ge11"]` defaults to what we have now.  Same idea for all other dictionaries.

Question: do you expect M1...M8 to have *different* VFAT layout? e.g. is VFAT0 always in the same general location on all detector types? If so then we do not need a `detType` inner key to `gemType` in th

[2019-07-15 13:47] bdorney opened #240 "[Maintenance/Bug Report] Restrict cx_Oracle to version 5.2 or lower."
## Brief summary of issue

We might need to add a restriction on the allowed versions of `cx_Oracle` due to incompatibilities between newer/older versions of the package.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

`TypeError` shouldn't be generated at runtime.

## Current Behavior

[2019-07-15 14:43] jsturdy commented on #240
Don't know about "lower", I just know that there is a problem with the version of the oracle client that is pulled in with `7.1.2`

[2019-07-31 16:00] dteague commented on #226
# Plan Revision

## Basic Changes
Here are the basic changes that can be made to the code such that there is no change in the overall code base at all:

### chamberInfo.py
The chambers are generalized for all gemTypes available ("ge11", "ge21", "me0"). All the chamber dictionaries (`chamber_vfatPos2PadIdx`, `chamber_vfatPos2iEta`, `chamber_vfatPos2iEtaiPhi`, `chamber_iEta2VFATPos`) are made into l

[2019-08-01 13:06] #235 closed, assigned to jsturdy, bdorney, mexanick, lpetre-ulb

[2019-08-01 15:13] bdorney commented on #210
potentially addressed by #239; will re-open should this persist afterward.

[2019-08-01 15:13] #210 closed, assigned to nobody

[2019-08-01 16:19] bdorney commented on #226
Would prefer *not* changing the name of this dictionary.  Also as an aside note the naming convention that @jsturdy prefers is camelCase except for acronyms.  If an acronym is at the start of a text string it should be all lower case, e.g see how `VFAT` and `TTC` acronyms are handled:

`chamber_vfatPos2PadIdx`
`ttcGeneratorState`

But if the acronym is inside the camelCase it should be all caps, i

[2019-08-02 11:13] dteague commented on #226
Thank you for the detailed comments! I will make these changes and give an update soon as I fix/investigate things:

Noted

I've implemented that [HERE](https://gist.github.com/dteague/f36caac6aa457e8bcbf7061d41ff744b). For the `chamber_vfatPos2PadIdx`, I've implemented a little algorithm: it works, but there is probably a more efficient solution. This can be revisited.

Sorry for the misunderstan

[2019-08-12 10:24] bdorney opened #242 "Feature Request: Get Stack Trace of child processes from ana_scans.py"
## Brief summary of issue

There are a few rare cases where `ana_scans.py` will fail to properly produce output.  In each time this has been tracked to problems with the input files (e.g. they are bad).

However the stack trace that is reported is always the python `multiprocessing` stack trace while the error message is the error message that is caught:

[code]

Here the message of the `ValueErro

[2019-08-12 13:21] lpetre-ulb commented on #242
This issue should be fixed with Python 3: the orignial traceback is now included in the exception : https://bugs.python.org/issue13831

Since [Python 2 compatibility](https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/227#issuecomment-507870925) is requested while (and after) moving to Python 3, we could add a function wrapper which appends the original traceback to the exception mes

[2019-08-12 15:14] lpetre-ulb commented on #240
On the ULB setup, we are using the following packages versions successfully:

[code]

Looks like the issue is the combination of `sqlalchemy <= 1.1.10` and `cx_Oracle >= 6.0`; see the [sqlalchemy changelog](https://docs.sqlalchemy.org/en/13/changelog/changelog_11.html#change-1.1.11-oracle). The `sqalchemy` version provided by `cc7` is therefore too old for the new `cx_Oracle` releases.

[2019-08-12 22:11] jsturdy commented on #240
Indeed, and bypassing `sqlalchemy`(passing an actual DB connection object to `pandas`, rather than letting `pandas` use `sqlalchemy` to create the connection) restores proper functionality regardless of `cx_Oracle` version, e.g.,:
[code]

[2019-08-21 12:51] lpetre-ulb opened #244 "32-bits unsigned integer TTree branches (`i`) are incorrecly interpreted by `PyROOT` =< 6.18"
(This is a follow-up on https://github.com/cms-gem-daq-project/cmsgemos/issues/297)

## Brief summary of issue

When analysing scans (SCurves, but possibly others) with non Reed-Muller encoded chipID's, the analysis routine can fail with the following error: `OverflowError: unsigned long is less than minimum`.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature requ

[2019-08-23 12:44] #240 closed, assigned to jsturdy, bdorney, mexanick, lpetre-ulb

[2019-08-23 12:53] jsturdy commented on #244
I don't think this matters, as installing `root-numpy` does a compilation of any necessary dependencies against the installed version of `ROOT`, so if the base `ROOT` version has the fix, that's all that should matter.

There was another issue (@bdorney can maybe recall the number) where a proposal was made for a change at the core (e.g., when the read from HW actually happens), and where I sugges

[2019-08-27 13:31] bregnery opened #245 "Add scipy to necessary modules"
## Brief summary of issue
I would like to add scipy as a necessary module in order to use its interpolate functions with a program I am creating

### Types of issue
- [ ] Bug report (report an issue with the code)
- [x] Feature request (request for change which adds functionality)

[2019-08-27 13:47] bdorney commented on #245
Probably what would be needed here would be to provide justification for why this package is needed (or what benefit it brings), outline an example use case; provide alternatives to the `scipy` package.  Then provide a pro's and con's to each.  This would probably enable @jsturdy and @mexanick to make an informed discussion.

Recall we hashed these out in private messages on mattermost so you can

[2019-08-27 14:05] bregnery commented on #245
I want to use scipy.interpolate.interp1d to interpolate a cluster charge MPV as a function of effective gain. This is a 1D interpolation.

There's is an equivalent numpy function, but it only offers 1D interpolations:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.interp.html

numpy is already a dependency of gem-plotting-tools but it may not be the best approach. Brian in the past use

[2019-08-27 14:23] bregnery opened #246 "Bug in CalibrateThrDAC"
There is a bug in CalibrateThrDAC that breaks `ana_scans.py armDacCal`

## Brief summary of issue
Lines 455-457 of commit #239 break the `ana_scans.py armDacCal`, now this function can only accept 1 argument. `ana_scans.py armDacCal` provides a pointer of 7 arguments.

### Types of issue
- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functiona

[2019-08-27 14:37] bdorney commented on #246
@AndrewLevin seems like the breaking change was introduced by your PR #239.  Could you try to tackle this bug and resolve it for @bregnery?

[2019-08-27 14:45] AndrewLevin commented on #246
Yes, so, in the pull request or the issue associated with https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/239, @bdorney requested that the argument list be replaced by a namespace. So, I think we want to change ana_scans.py to use the namespace argument, do you agree @bregnery?

[2019-08-27 14:49] bdorney commented on #246
Indeed; did not realize a breaking change would be created.

You need to pass something that can be handled by `itertools.izip` to the parallel analysis routine.  Try to keep this in mind in designing your solution.

e.g. Passing a single `Namespace` object will not work because this is handling potentially *multiple* processes that will all need *different* input arguments.

Try to design your ow

[2019-08-27 15:28] jsturdy commented on #245
Do you require a specific version of `scipy`? Or is the version that is installed on the DAQ machines sufficient (`0.12.1`)?

[2019-09-03 21:32] #246 closed, assigned to AndrewLevin, jsturdy, mexanick

[2019-10-02 08:21] jsturdy opened #250 "[bug report] Issue with multiprocessing"
## Brief summary of issue
It seems that between `` and `` a new behaviour was introduced, either in a return type or in how the multiprocessing is done.
Need to understand which commit brought the regression, and if it is a bug, or an expected change that needed changes elsewhere.

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavior
No errors

## Current Behav

[2019-10-02 14:18] AndrewLevin commented on #250
`cx_Oracle` throws exceptions objects that cannot be pickled. The best solution I can think of is to catch the exception and rethrow it as an exception that can be pickled. I would propose we place a try, catch block around this line:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/develop/utils/dbutils.py#L105

[2019-10-09 21:55] jsturdy commented on #250
OK, I think as this is non-reproduced, your solution to rethrow the exception in a way that is more robust is indeed the best we can currently do

[2019-10-14 13:40] #250 closed, assigned to AndrewLevin

[2019-10-14 19:02] jsturdy opened #253 "[bug report] Problem with current ana_scans for sbitThresh"
## Brief summary of issue
There is a new issue with analyzing `sbitThresh` scans

### Types of issue
- [x] Bug report (report an issue with the code)

## Expected Behavior
It should work...

## Current Behavior
[code]

## Your Environment
* Version used: `0e47e29`

[2019-10-14 20:03] #253 closed, assigned to AndrewLevin, jsturdy

[2019-10-25 09:23] dteague opened #256 "DB not finding VFAT causes code to crash"
## Brief summary of issue
When the code looks for VFATs and doesn't find them, the values for DAC m and b are defaulted to nan and all processing in these vfats stops working. When the code then goes to plot the graphs, the code segfaults and not plots are made

### Types of issue
- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

[2019-10-25 15:04] giovanni-mocellin opened #257 "Scurve fit failing to find good sigma"
For a small number of channels (usually around 10 over the 3072 in a chamber), we can have the scurves fit that give an oddly small sigma, which is not physical (below 0.1 fC). Presentation link: https://indico.cern.ch/event/858083/contributions/3612746/attachments/1933512/3203223/Scurve_fitting_issue_-_Giovanni_Mocellin_-_25-10-2019.pdf

### Types of issue

- [X] Bug report (report an issue with

[2019-10-25 15:11] jsturdy commented on #257
This issue is also designed to track improvements to the fitting across the board.
For the DAC scans we had discussed checking that the fit was sensible, using perhaps the chi2, or that the fit function is strictly monotonic in the fit range.

[2019-10-25 15:38] AndrewLevin commented on #257
Hi Giovanni,

It does look like these channels can be fit from the 2D map, but can you send the path to the root file from that particular case such that we can check the 1D plots for those channels?

Thanks.

Andrew

[2019-10-25 15:46] giovanni-mocellin commented on #257
Hi Andrew,

Example in channel 84, 85 of VFAT1 in path: /data/bigdisk/GEM-Data-Taking/GE11_QC8/GE11-X-S-INDIA-0017/scurve/2019.10.23.19.37/SCurveData

G

[2019-10-28 13:58] AndrewLevin commented on #257
@giovanni-mocellin, I think the issue is related to the `maxChi2` and it should be fixed in the pull request above, but actually, I wasn't able to reproduce the bad fits that you found in the first place. If you can give some details about what machine, software, and command you used to perform the fits, that would be helpful.

[2019-10-28 14:49] giovanni-mocellin commented on #257
I used the qc8daq machine in the lab with the standard commands for taking and analysing the scurves. You can see when it was done by the scandate.

run_scans.py scurve 1 6 0x40
ana_scans.py scurve -s 2019.10.23.19.37 -c --chamberConfig --heavy

Probably the machine SW is not up-to-date to the last PRs... We always want to keep in the QC8 machine the SW that we are 100% sure that is reliable and i

[2019-10-29 07:17] AndrewLevin commented on #257
The reason I could not reproduce the same bad fits as @giovanni-mocellin is actually not related to the software version, but because we are using random numbers initialized based on the process ID.

[2019-10-29 09:29] lpetre-ulb commented on #257
I would have a more general question about the Scurve fitting.

Why are we _fitting_ the Scurve? Couldn't the mean and standard deviation be directly extracted from the distribution? Indeed, since the Scurve is the convolution between a step function (the calibration pulse) and the noise (assumed Gaussian), deriving the Scurve would recover the original noise distribution shifted by the calibratio

[2019-10-29 09:47] AndrewLevin commented on #257
Well, we need to calculate the derivative somehow. There are probably too few points to use a finite different method -- there are typically like 5 points that are not 100 or 0.  This is an example of what we are fitting for a case when the fit fails and succeeds:

Successful fit:

![delete_this](https://user-images.githubusercontent.com/3329216/67755387-56a0c480-fa38-11e9-98f6-fa87fdc1a8c9.png)

[2019-10-29 10:54] lpetre-ulb commented on #257
Thank you @AndrewLevin for your prompt reply. Indeed, I did not realize there are so few points between 0 and 100... This is also probably why the fits fail and must attempted multiple times with multiple initial conditions. Maybe that a finite difference method, although probably not precise enough for final analysis, would give better initial conditions than the one currently used? What do you t

[2019-10-29 11:35] AndrewLevin commented on #257
Yes, we could definitely set the initial conditions more intelligently. We are basically using a brute force method now where we try up to 30 fits with the mean incremented in steps and the noise set to random numbers.

[2019-11-07 13:48] #226 closed, assigned to nobody

[2019-11-15 14:18] lpetre-ulb opened #262 "DAC scan analysis fails to produce good plots"
## Brief summary of issue

While testing @dteague's PR for GE2/1 generalizing at the FIT setup, we (@sbutalla and I) noticed unexpected DAC scans plots.

Nevertheless, the VFATs _seem_ to be properly biased since the nominal value fo all DACs can be reached and the Scurves look "normal".

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change

[2019-11-17 12:15] lpetre-ulb commented on #262
Confirmed for GE1/1 and the [latest commit in `develop`](https://github.com/cms-gem-daq-project/gem-plotting-tools/commit/57a8f535944d345e72ba9b0e9f90daa09ddd4d9a):

![SummaryTestStand10_DACScan_CFG_BIAS_SD_I_BFCAS](https://user-images.githubusercontent.com/33247723/69007227-780c1680-093b-11ea-9fba-d59b1d095a73.png)

Moreover, the DAC scan analysis during QC@ULB also fails with many "large chiquar

[2019-11-18 09:36] jsturdy commented on #262
Can you provide the input files for these so that the people (@AndrewLevin, @bregnery, @dteague) who put recent changes in can do a `bisect` to find the offending commit?

[2019-11-18 15:43] lpetre-ulb commented on #262
Here is an archive containing both the raw and analyzed root files as well as the chipIDs and calibration constants for ADC0 (non Reed-Muller encoded chipID): [BadDACScanPlots.zip](https://github.com/cms-gem-daq-project/gem-plotting-tools/files/3859310/BadDACScanPlots.zip)

Looking at the analyzed data, the `TGraphErrors` plots are good for each VFAT, but the `TF1` ones are not.

Also, the fits ar

[2019-11-18 18:13] AndrewLevin commented on #262
The data in that zip file is for TestStand6, not TestStand10, and I do not find any large chi squares other than for CFG_THR_ZCC_DAC (which is because this register has both a voltage and current mode, and both are incorrectly fit on the same plot (https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/ca99453e7e54bf935eab5e3e94f786a8b9657153/utils/anaInfo.py#L31)).

The code to create the

[2019-11-18 18:24] lpetre-ulb commented on #262
Right, I've taken a new set of data with the `TestStand6` which was available at the moment. The DAC errors are similar though.

Indeed, they are not particularly large, but some are larger than the default of 100. For instance, `BIAS_SH_I_BDIFF` for the VFAT0 (chi²/NDF = 2429/250).

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/ca99453e7e54bf935eab5e3e94f786a8b9657153/utils/anaIn

[2019-11-18 21:03] AndrewLevin commented on #262
Yes, sorry, I see the large chi square values now. I agree we should use chi²/NDF instead of chi². I guess we can make the cutoff somewhere between 15-25.

[2019-11-20 16:01] dteague commented on #262
Sorry, I was flying back to the US, so that's why I've been MIA. I'll look into this today and see if I can fix this

[2019-11-26 10:31] bregnery opened #266 "[Bug Report] Not Point 5 Compatible"
The Analysis tools are not compatible with the Point 5 chamber names.

## Brief summary of issue
Any analysis of chambers at Point 5 currently fails as a result of the GE21 updates. Now, the software will not accept the Point 5 chamber names.

Here are the offending lines: https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/76fa9ea7f86735c5ef23ff0f2305709a2b1009d4/utils/anautilities.py#

[2019-11-26 10:33] bregnery commented on #266
These change was made by @dteague during #252

[2019-11-26 13:39] jsturdy commented on #266
The issue is because until P5 we are associating detectors by their detector name, e.g.,
`<STATION>-X-<SUBTYPE>-<PROD_SITE>-<ID>`, e.g., `GE11-X-S-INDIA-0016`, GE21 preproduction is using `GE21-M5-P5`, GE2/1 production will use...?
While at P5, the chambers are associated by their location:
`<CMS_STATION><ENDCAP><POSITION>L<LAYER>` (and add `-<SUBTYPE>` **only** for compatibility with current look

[2019-11-26 15:34] mexanick opened #269 "ScanDataFitter constructor incomplete"
## Brief summary of issue

S-curve analysis code fails with the following message:
[code]
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

Analysis should complete without errors
## Current Behavior

### Steps to Reproduce (for bugs)

Run s-curve analysis with gempython_gemplotting-1.5.5-

[2019-11-26 16:39] #269 closed, assigned to AndrewLevin

[2019-11-27 09:03] jsturdy commented on #262
@dteague do you have any update on this yet?

[2019-11-29 15:04] cgalloni opened #271 "[Bug report] OverflowError on VFat ID in anaUltraScurve.py"
## Brief summary of issue

While running the `anaUltraScurve.py`, we encounter problems due to the VFAT ID type which seems to give compatibility issues between the branch in the tree and the type expected from the macro `/usr/lib/python2.7/site-packages/gempython/gemplotting/utils/scurveAlgos.py `.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (reques

[2019-11-29 15:22] lpetre-ulb commented on #271
Are you using VFATs without Reed-Muller encoded chip ID? If so, it looks like the error is caused by [this issue](https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/244).

[2019-11-29 15:26] mexanick commented on #271
it is exactly that. I developed an easy hack which should cover it, will open a PR after test (just a simple try-except with assigning 0 by default, as the value in case of failure is anyway unphysical)

[2019-12-02 13:44] #262 closed, assigned to AndrewLevin, dteague

[2019-12-03 09:51] lpetre-ulb commented on #271
The problem with that kind of easy hack is that it must be applied everywhere an overflow error could happen. Simply fixing `anaultraScurve.py` is easy, but is there any other places where the same overflow issue could occur?

[2019-12-03 10:46] jsturdy commented on #244
I have a version of `root_numpy` ready to work with `root-6-18`, so we can consider trying to fully test the code base against this release.
If it really resolves this issue, and doesn't introduce any additional major problems, i think we could make the decision to migrate production machines to 6.18 as the stated supported version
 (these updated packages are installed on `gem904daq02`)

[2019-12-03 11:50] lpetre-ulb commented on #244
The bug is still present in the patch version `00` of `root-6.18`, but [fixed starting from `6.18.02`](https://root.cern.ch/gitweb/?p=root.git;a=history;f=bindings/pyroot/src/Converters.cxx;h=593ee4982971e9dc9ca9b65cfede2e8e366c167c;hb=8ec6cc78313b28e5df61efda1417440cdeb6b3d3).

At ULB, we are successfully using `root-6.18.04-1.el7` since weeks (months?). Moreover we exclusively use VFAT3 hybrid v

[2019-12-03 13:38] jsturdy commented on #244
OK, in production the light DQM is running on a dedicated machine, independently of any of the DAQ machines (in my ideal world, our DAQ SW would drop **all** dependencies on `ROOT` altogether, but this would be a longer term restructuring...)

To proceed, I think we should consider upgrading one integration machine and then one QC7/8 machine, (downgrading ROOT RPMs is a PITA).  Following the succe

[2019-12-05 00:00] lpetre-ulb commented on #244
:100:

I guess that if ROOT compatibility is required, `uproot` would work very well. However, if there is no need for ROOT compatibility, HDF5 is maybe more compatible. And for the analysis and plotting, `numpy`, `scipy` and `pyplot` are probably more than enough.

:+1: I don't foresee any compatibility issue, but the sotware broke too many times these last few days...

[2019-12-13 10:29] mexanick opened #275 "SBit threshold analysis crashes when one or more vfats are masked during the scan"
## Brief summary of issue

@bregnery
During analysis of per-VFAT scan the code fails to find the inflection point and crashes in case one or more VFATs were masked during the scan (i.e. no data is provided)
Error message:
[code]
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

This is a p

[2019-12-13 10:41] bregnery commented on #275
This was fixed in Pull Request #268

It has not been merged yet

[2019-12-13 14:06] jsturdy commented on #275
#268 has been merged, if this issue no longer is present, we can close

[2019-12-13 14:59] #275 closed, assigned to jsturdy, mexanick

[2019-12-13 15:01] mexanick opened #276 "Mapping change for GE21 problem"
## Brief summary of issue

After changing chamber_iEta2VFATPos to be a list of dicts with keys `["gemType"]` not all the analysis tools are working. E.g. anaSBitReadout.py is broken now
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

## Current Behavior

### Steps to Reproduce (for bugs)

[2019-12-17 14:42] mexanick commented on #276
The example of working patch would be
[code]
E.g. we should either add a new parameter, or provide configuration files with all relevant info.

[2019-12-18 09:31] jsturdy commented on #276
would this change (regardless of how implemented) have an impact outside of `gemplotting`?

[2019-12-18 09:47] mexanick commented on #276
I don't think so, as this tool is not used in other pipelines

[2020-01-16 17:50] giovanni-mocellin opened #278 "chConfig produced file not compatible"
## Brief summary of issue
Running the analysis of scurves (in QC7 machine) produces now chConfig files that contain the column "mask" for the channels the booleans "True" and "False", instead of 1 and 0.
This makes impossible a configuration with chConfig in QC8, since confAllChambers crashes requiring a number and not a boolean.

### Types of issue

- [X] Bug report (report an issue with the code

[2020-01-16 21:34] jsturdy commented on #278
@giovanni-mocellin are the package versions (with `git` hash) the same on both machines?
@AndrewLevin, was this a recent change that modified the format of the output file?

[2020-01-17 00:59] lpetre-ulb commented on #278
I believe the issue is due to conversion from the % string formatting to the `format()` function as part of [the GE2/1 generalizing PR](https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/252):

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/bbc3e2531ac0c7c8b817768bc2f99f8dee9e9ab4/utils/scurveAlgos.py#L905-L913

Since the file `chConfig` is designed to be parsed by ROOT

[2020-01-17 09:56] jsturdy commented on #278
@dteague do you think you could address this quickly?
I guess all types should be numerical or string (though `ROOT` does support a boolean type, I'm not sure how/if `pyROOT` translates those...)
In any event, the `mask` column is currently being specified with the `I` so it's trying to interpret it as an integer.
It would be best to find all places where these `csv` `TTree` files are written and

[2020-01-17 17:06] dteague commented on #278
Looking into this now!

[2020-01-22 12:22] #278 closed, assigned to nobody

[2020-01-29 15:36] ElizabethRoseStarling opened #280 "Iterative trimming algorithm for QC8 fails at the first analysis step"
## Problem summary
When the trimming algorithm for QC8 is launched, it successfully goes through a single iteration of taking the S-Curves on all chambers, but fails when it reaches the first analysis step.

### Types of issue
- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior
The algorithm should take a single

[2020-01-29 15:41] ElizabethRoseStarling opened #281 "Detectors cannot be properly configured for sBit Threshold scans"
## Problem summary
The QC8 detectors cannot be properly configured for sBit Threshold scans as a result of the generated chConfig files using strings instead of integers.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

The chConfig.txt files should use "0" and "1" in place of "False" an

[2020-01-29 15:47] lpetre-ulb commented on #281
Duplicate of #278 which has been fixed in #279. The bugfix is not yet deployed on the QC8 DAQ machine though.

[2020-01-29 15:47] #281 closed, assigned to nobody

[2020-01-31 09:48] #280 closed, assigned to nobody

[2020-01-31 13:30] ElizabethRoseStarling opened #285 "Iterative trimming algorithm for QC8 fails immediately"
## Brief summary of issue
When the trimming algorithm for QC8 is launched, it successfully goes through a single iteration of taking the S-Curves on all chambers, but fails when it reaches the first analysis step.

### Types of issue

- [X] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

The algorithm should take

[2020-02-04 10:42] mexanick opened #286 "SBitRate scan produces wrong VFAT threshold configuration"
## Brief summary of issue

During the QC7 execution the CFG_THR_ARM for VFATs 0 and 1 of GE11-X-S-INDIA-0012 were assigned to 0 causing the final s-curves to fail.
The initial (CFG_THR_ARM_DAC = 100) s-curves are alright and can be found at /data/bigdisk/GEM-Data-Taking/GE11_QC8/GE11-X-S-INDIA-0012/scurve/2020.02.03.14.59/SCurveData

The SBit rate scan data is here: /data/bigdisk/GEM-Data-Taking/G

[2020-02-04 11:13] lpetre-ulb commented on #286
Actually, the code works as designed. It finds the first `THR_ARM_DAC` for which the Sbit rate is below the configured cut value:

https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/e86ae2a09c843b917540f4a6648860ae47d0b20f/utils/threshAlgos.py#L1458-L1465

However, in this scan, the Sbit rate is already zero when the `THR_ARM_DAC` is zero:

![Canvas_1](https://user-images.githubusercon

[2020-02-04 11:18] AndrewLevin commented on #286
Or we can start the sbitRate scan at ARM DAC = 10 instead of 0, using `--scanmin`. Probably there is some kind of overload when you set it to 0.

[2020-02-04 11:27] mexanick commented on #286
This is weird... The issue is only observed on VFATs 0 and 1, the other VFATs are showing normal results. Shifting the starting point to 10 is not the best decision in my opinion. This number is arbitrary and actually can mask a real problem. Indeed, scanning from 0 to max, finding the rate maximum and requiring the rate to fall under specified limit later is a solution. Another (and possibly more

[2020-02-04 13:14] mexanick commented on #286
/data/bigdisk/users/mdalchen/qc7_elog230.txt

[2020-02-12 13:42] cgalloni opened #288 "sBitRate scan analysis not working with GLIB"
The  script to analyze the root file of an sBitThresh scan taken with the GLIB fails with the error:

[code]

## Brief summary of issue

The  script to analyze the root file of an sBitThresh scan taken with the GLIB fails.  This might be related to the fact that for VFAT 0 and 1 the rate at CFG_THR_ARM_DAC 0 is 0, reported in [#286]

### Types of issue

- [X] Bug report (report an issue with the c

[2020-02-12 13:54] AndrewLevin commented on #288
@bregnery, this is related to the inflection point finder

[2020-02-12 15:10] bregnery commented on #288
I will take a look, but there is a bit more information that I need. @cgalloni What version of numpy was used during this? I have found that there are syntax changes between older and new versions of numpy that caused similar errors in the past.

[2020-02-12 16:08] cgalloni commented on #288
Thanks @bregnery, this is the version on the machine from what I see
[code]

[2020-02-13 10:20] cgalloni opened #290 "Scurves analysis failing on QC7"
## Brief summary of issue

We tried to analize scurves from the QC7 or QC8 machinse both with `ana_scans.py` and directly `anaUltraScurve.py` with but the code failed.

With `ana_scans.py` the error reported is:
[code]

With anaUltraScurve.py run from the directory:
[code]

@mexanick used an old version of the latter from the `daq01` machine and it worked fine.

### Types of issue

- [X] Bug repor

[2020-02-13 22:04] lpetre-ulb commented on #290
Do you happen to know the GEB type variable value? I guess it is picked up automatically somewhere, but it is neither "short" nor "long". Also, does the `DATA_PATH` points to `/data/bigdisk/GEM-Data-Taking/GE21_Integration/`; I may have an idea if it doesn't.

Do you use VFAT3 hybrid v2 without the Reed-Muller encoding? If yes, an updated version of PyROOT (as so ROOT) is required; see https://git

[2020-02-14 09:20] cgalloni commented on #290
GEB type used is "short".

Yes this was done on purspose at this point

[2020-02-14 09:38] lpetre-ulb commented on #290
How was the issue fixed? Are you just working around it?

If it is `short` is really the value of `GEBtype` at this point in the code, the issue looks genuine:
https://github.com/cms-gem-daq-project/gem-plotting-tools/blob/e86ae2a09c843b917540f4a6648860ae47d0b20f/utils/scurveAlgos.py#L298-L308

[2020-02-14 09:54] cgalloni commented on #290
No, sorry I just pressed the wrong button.
Yes we used the VFAT3 hybrid v2 without the Reed-Muller encoding, so we configured them with a slightly modified version of `getCalInfoFromDB.py` where we feed the chipId by hand.

We used the  `DATA_PATH`  as `/data/bigdisk/GEM-Data-Taking/GE21_Integration/`   not to interefere with other operations of the QC8.
Then we proceed as:
[code]
Because the scur

[2020-02-14 16:17] cgalloni commented on #290
I changed the chamber name in `editConfig.py` to be consistent with being a short chamber and took scurves again, but still the analysis part fails :
[code]
with the error:
[code]

[2020-02-14 17:18] lpetre-ulb commented on #290
Okay, that error is already reported and described in details in issue https://github.com/cms-gem-daq-project/gem-plotting-tools/issues/244. The ROOT version installed on the QC7 DAQ machine is 6.16.00 while the fix is implemented in 6.18.02. The best way to fix your issue would be to update the software.

[2020-02-27 20:41] lpetre-ulb commented on #290
@cgalloni, any update on this issue? Is it relevant? Does the newer version of ROOT fix it? I don't feel confident changing how the chamber name and/or chamber configuration file are parsed.

[2020-02-28 08:55] cgalloni commented on #290
I think un update of ROOT on the machine is needed to test out if it solves the issue.
Haven't tried it yet.

[2020-02-28 13:16] #288 closed, assigned to AndrewLevin, mexanick, bregnery, lpetre-ulb

[2020-03-12 10:13] mexanick opened #292 "Threshold Scan fails the analysis"
## Brief summary of issue

After doing the threshold scan the analysis fails with:
[code]
### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

### Steps to Reproduce (for bugs)

[code]
## Possible Solution (for bugs)

## Context (for feature requests)

## Your Environment

* Version used:
[code]
[code]
* Shell use

[2020-03-12 10:29] jsturdy commented on #292
This is probably related to the version of `numpy` or `root_numpy` not being well defined in the dependencies and either a local install or system install not matching the API @bregnery
I put in the extras repo,
`numpy-1.16.5-1`
`root_numpy-4.7.3-1.gemos.numpy1165.root618.el7.x86_64.rpm`
`root_numpy-4.8.0-1.gemos.numpy1165.root618.el7.x86_64.rpm`
so that a system install should work with what was

[2020-03-12 10:33] mexanick commented on #292
but we have:
[code]
shall it be updated too?

[2020-03-12 10:37] jsturdy commented on #292
Yes, unless we know of some incompatibility somewhere with that version (but in 904 there are 4 versions of ROOT on various machines, so it would be good to regularize, and as @lpetre-ulb mentioned elsewhere, 6.18 provides some fixes that would be globally useful)

[2020-03-12 12:08] mexanick commented on #292
the extras repo on the `gem904qc7daq` points to
`http://cmsgemdaq.web.cern.ch/cmsgemdaq/sw/repos/centos7_x86_64/extras/RPMS/`
This repo has not been updated since 2019 and doesn't have the packages you've mentioned above.
The NAS repo has
[code]
Which repo should be used?

[2020-03-12 13:19] mexanick commented on #292
executed suggested updates, still getting the same error

[2020-03-12 13:21] AndrewLevin commented on #292
did you check that the input data is good (at least not empty)?

[2020-03-12 14:27] mexanick commented on #292
I was assured that the data is correct by QC7 crew.
However upon checking the log, I see:
[code]
Apparently two actions are required:
1. Graceful handling of such broken files here, but the analysis code
2. Proper reporting of the errors - I believe they missed the error as in order to see it one needs to look into the log file manually

[2020-03-19 09:26] lpetre-ulb commented on #285
Fixed in https://github.com/cms-gem-daq-project/vfatqc-python-scripts/pull/296.

[2020-03-19 09:26] #285 closed, assigned to nobody

[2020-03-19 09:31] lpetre-ulb commented on #292
Indeed, but should it be done in the legacy release? Or only in the updated analysis tools (if they are maintained)?

This is known defect with a well known workaround procedure. Maybe not so well known in the end... Not sure if it is worth being fixed in the legacy release, but it must certainly be documented.

[2020-03-19 09:33] lpetre-ulb commented on #286
Analysis routine fixed in https://github.com/cms-gem-daq-project/gem-plotting-tools/pull/287.

[2020-03-19 09:33] #286 closed, assigned to AndrewLevin, cgalloni, lpetre-ulb

[2020-03-19 09:38] lpetre-ulb commented on #266
Option 2 chosen and implemented for P5 operation with legacy software. Fixing naming parsing could be tricky in legacy release. Implementation expected to be different with xDAQ-based software (database powered).

[2020-03-23 23:10] lpetre-ulb opened #293 "cx_Oracle not available in repositories"
## Brief summary of issue

Sven attempted to install the `gempython_gemplotting` package from the `gemos` repositories on a pristine computer. That resulted in an error about the `cx_Oracle` package not being found.

### Types of issue

- [x] Bug report (report an issue with the code)
- [ ] Feature request (request for change which adds functionality)

## Expected Behavior

The legacy GEM software

[2020-03-24 09:48] jsturdy commented on #293
The twiki page was not correct but has since been updated to add the instruction that was listed in the email thread, i.e., `--enablerepo=cernonly`

[2020-03-24 21:47] lpetre-ulb commented on #293
I guess this repository is only available in CC7? While I have good a experience with CentOS, it is more mitigated with CERN CentOS... If CC is needed at CERN, it isn't for remote test stands. Would it possible to target vanilla CentOS and provide the required packages?

[2020-05-18 14:40] lpetre-ulb commented on #271
The recommended solution is to update ROOT and PyROOT as explained in #244.

[2020-05-18 14:40] #271 closed, assigned to nobody

[2020-05-18 15:04] lpetre-ulb commented on #137
Documentation is pushed to the GEM DAQ test website and is about to be pushed to main GEM DAQ website.

[2020-05-18 15:04] #137 closed, assigned to nobody

[2020-05-18 15:10] lpetre-ulb commented on #245
If I'm not mistaken, the feature (inflection point finder) has been implemented without the need of `scipy`. Feel free to re-open the issue if the dependency exists, but is not added to the requirements file/RPM packages.

[2020-05-18 15:10] #245 closed, assigned to nobody

[2020-05-18 15:20] lpetre-ulb commented on #266
Since fixing this issue is a major refactoring that will likely result in breakages and since there is a workaround implemented for P5, it is probably better not trying to fix this issue.

[2020-05-18 15:20] #266 closed, assigned to nobody

[2020-05-19 20:20] lpetre-ulb commented on #290
Probably a duplicate of #244 for which a ROOT update is required.

[2020-05-19 20:20] #290 closed, assigned to AndrewLevin, mexanick

[2020-05-19 20:21] lpetre-ulb commented on #227
Legacy will never be ported to Python 3 and will keep being based on Python for the time being.

[2020-05-19 20:21] #227 closed, assigned to AndrewLevin, jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux, lpetre-ulb

[2020-05-19 20:22] lpetre-ulb commented on #156
No new features are to be implemented in legacy.

[2020-05-19 20:22] #156 closed, assigned to nobody

[2020-05-19 20:25] lpetre-ulb commented on #242
QOL debugging feature which won't be fixed in legacy.

[2020-05-19 20:25] #242 closed, assigned to AndrewLevin, jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux, lpetre-ulb

[2020-05-19 20:40] lpetre-ulb commented on #228
Some (all?) of this formatting has been done in #252. The remaining statements do not deserve a fix in legacy.

[2020-05-19 20:40] #228 closed, assigned to AndrewLevin, jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux, lpetre-ulb

[2020-05-19 20:41] lpetre-ulb commented on #188
Won't be fixed in legacy. `testConnectivity.py` and `getCalInroFromDB.py` can write the relevant files to the right location.

[2020-05-19 20:41] #188 closed, assigned to AndrewLevin, jsturdy, BenjaminRS, bdorney, mexanick, lmoureaux

[2020-06-01 21:12] lpetre-ulb commented on #257
Moved to the new project on GitLab ([gem-online-analysis#15](https://gitlab.cern.ch/cmsgemonline/gem-online-analysis/-/issues/15)) in order to make sure that such failed fits do not happen with the tools in development.

[2020-06-01 21:12] #257 closed, assigned to AndrewLevin